.accordion-list-main.adjustment(ng-click="vm.onRowClick($event)")
    .row.accordion-list-wrapper
        .cell.pink-text.col-lg-5.col-md-5.col-sm-5.col-xs-4.column-value-wrapper.table-first-cell.fits-contents
            span.icon.list-icon.folder.icon-folder.icon-folder-open(ng-if="!vm.editing && !vm.isSecret")
            img.list-icon.folder(src="assets/Icons/safe.svg" ng-if="!vm.editing && vm.isSecret")
            span(ng-if="!vm.editing && !vm.isSecret") {{vm.folderName}}
            span(ng-if="!vm.editing && vm.isSecret") {{vm.item.key}}

            input.form-control.input-box-style.au-input-box(ng-if="vm.editing && vm.isSecret" restrict-special-char ng-model="vm.item.key")

        .cell.col-lg-3.col-md-3.col-sm-3.col-xs-3.column-value-wrapper
            div(ng-if="vm.isSecret")
                input.form-control.input-box-style.au-input-box(ng-disabled="!vm.editing" type="password" ng-model="vm.item.value" placeholder="Secret" autocomplete="new-password" required ng-attr-type="{{ showPassword ? 'textarea' : 'password' }}")
                .icon.icon-views.vertical-center(ng-mouseenter="showPassword = true;" ng-mouseleave="showPassword = false")
        .cell.col-lg-2.col-md-2.col-sm-2.col-xs-2.column-value-wrapper.center-text
            button.btn.btn-primary.btn-sm.save-button(ng-if="vm.editing" ng-click="vm.save($event)") SAVE
        .cell.col-lg-2.col-md-2.col-sm-2.col-xs-3.column-value-wrapper
            .list-icon.icon-content_copy(ng-if="vm.isSecret" ng-click="vm.copyToClipboard($event)")
            .list-icon.icon-mode_edit(ng-if="vm.isSecret && vm.write" ng-click="vm.edit()")
            .list-icon.icon-delete(ng-if="vm.write" ng-click="vm.isSecret ? vm.deleteSecret($event) : vm.deleteFolder($event)")