header.signin
sideBar
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{config.shortMessage}}

    .text-center.md-margin(ng-if="config.showMore") {{config.longMessage}}
    .text-center.md-margin(ng-if="config.longMessage")
        a.pointer(ng-click="config.showMore = !config.showMore") {{'Show ' + (config.showMore ? 'Less' : 'More') }}
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.common-btn.btn.btn-primary.btn-lg(ng-click="dismiss()") Close

.container-fluid.sign-in
    .container-fluid-wrapper.container-fluid-wrapper-signin
        loading-state(ng-show="isLoadingData" ng-cloak="")
        .form-wrapper
            .sign-in-icon-container.clearfix
                .sign-in-image 
                    img(src= "assets/images/signin.png")
            form(ng-show="!isLoadingData" name="authenticate" ng-submit="login()")
                .form-group
                    label(for="usr") {{userID}}
                    div(class='username-container')
                        input(class="form-control input-box-style" id="usr" placeholder="Enter your {{userID}}" ng-model="username" required)
                        div(class='username-addon' ng-if="authType == 'ldap1900'") {{domainName}}
                        div.username-error(ng-show='authType == "ldap1900" && usernameInvalid && username.length > 0') Please enter Email Id without domain name 
                .form-group.extra-margin-actions
                    label(for="pwd") Password
                    //- span.input-clipper

                    input(type="password" class="form-control input-box-style" id="pwd" placeholder="Enter your Password" ng-model="password" autocomplete="new-password" required)

                .button-container
                    button.btn.btn-primary.btn-lg.login-button(type="submit") Login

            .center-text.forgot-pwd
                a.link-style(href='{{forgotPasswordLink}}' target="_blank" ng-if="!!forgotPasswordLink") Forgot Password?
