.vaultHeaderContainer {
  display: flex;
  background-color: red;
  justify-content: space-between;
  align-items: center;
}
.navWrapper {
  display: flex;
  padding: 1em;
}
.navItem {
  padding: 0 1em;
}
