<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .image {
            border: 1px solid #eee;
        }
        .special-text, h4 {
            color:#f6006e
        }
    </style>
</head>
<body>
    <div>Hello <span data-th-text="${name}"></span>,</div>
    <br/>
    <div>Onboarding of IAM services account <span class="special-text" data-th-text="${svcAccName}"></span> has been completed successfully, and you will now want to activate the IAM service account in T-Vault and assign permissions to other users who you want to view or rotate this accounts password.</div>
    <div>To do so please complete the following steps:</div>

    <h4>Activate IAM Service Account:</h4>
    <ol>
        <li>Login to <a href="https://vault.corporate.t-mobile.com/" target="_blank">T-Vault</a> using your CORP AD account.</li>
        <li>
            <div>Navigate to the "MANAGE" tab</div>
            <img class ="image" src="managetab.png" th:src="|cid:${managetab}|"/>
        </li>
        <li>
            <div>Select the "View/Edit" option corresponding to the IAM service account you want to activate.</div>
            <img class ="image" src="viewlink.png" th:src="|cid:${viewlink}|"/>
        </li>
        <li>
            <div>Click the "Activate IAM Service Account" link at the bottom right.</div>
            <img class ="image" src="activate.png" th:src="|cid:${activate}|"/>
        </li>

    </ol>

    <h4>Assigning Permissions: </h4>
    <div>Once you are finished activating your IAM service account you can assign permissions to other users or groups you want to have permission to view or rotate the password for the account.</div>
    <div data-th-text="${groupContent}"></div>
    <ol>
        <li>Login to <a href="https://vault.corporate.t-mobile.com/" target="_blank">T-Vault</a> using your CORP AD account.</li>
        <li>Navigate to the "MANAGE" tab.</li>
        <li>Select the "View/Edit" option corresponding to the IAM service account you want to manage.</li>
        <li>
            <div>Select the "Grant Permission" button.</div>
            <img class ="image" src="permission.png" th:src="|cid:${permission}|"/>
        </li>
        <li>
            <div>Navigate to the "Groups" or "User" tab.</div>
            <img class ="image" src="permissiontab.png" th:src="|cid:${permissiontab}|"/>
        </li>
        <li>
            <div>Provide the group or user name you want to give permissions to and select either read, reset, or deny depending on the level of access you want to give.</div>
            <img class ="image" src="adduser.png" th:src="|cid:${adduser}|"/>
        </li>
    </ol>

    <div>Please contact Cloud Support <span class="special-text" data-th-text="${contactLink}"></span> if you need assistance.</div>
    <br/>
    <div>Thanks,</div>
    <div>Support team</div>

</body>
</html>