.container-fluid-wrapper-welcome{
    max-width: 85%;
    margin: auto;
    background: rgba(255, 255, 255, .95);
}

.container-fluid-wrapper-signin{
    max-width: 70%;
    margin: auto;
    background: rgba(255, 255, 255, .5);
}
.sign-in .loader-wrapper {
    position: relative !important;
    height: 35% !important;
}

.sign-in .loader-wrapper .gif-wrp {
    width: 30% !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px) and (max-width : 480px) {
  .form-wrapper {
    width: 80%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 1024px) {
  .form-wrapper {
    width: 60%;
  }
}

.container-fluid-wrapper-welcome .center-text-home {
    text-align: center;
}
.container-fluid-wrapper-welcome .home {
    margin: 0 auto;
    padding-top: 5vh;
    color: #333;
}

.container-fluid-wrapper-welcome .description {
    margin:0 auto;
    width: 50%;
}
.container-fluid-wrapper-welcome h2 {
    font-weight: bold;
    font-size: 4vh;
    letter-spacing: 0.01rem;
    line-height: 4.1vh;
    font-family: inherit;
    margin-bottom: 2vh;
    font-family: montserrat;
}

.container-fluid-wrapper-welcome .columns {
    width: 80%;
    margin-top: 2vh;
}

.container-fluid-wrapper-welcome .column {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.container-fluid-wrapper-welcome .column .first{
    margin-left: 1%;
}

.welcome-image {
    text-align: center;
    width: 10vh;
}

.container-fluid-wrapper-welcome .column-title {
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 2vh;
}

.container-fluid-wrapper-welcome .column-details {
    margin-top: 2vh;
}

.container-fluid-wrapper-welcome .button-row {
    padding-top: 7vh;
    width: 20%;
    min-width: 200px;
    margin: 0 auto;
}

.container-fluid-wrapper-welcome .goto-login-button {
    font-size: 2vh;
    font-family: montserrat;
}

.container-fluid-wrapper-welcome .button-container {
    margin: 15px 0;
    text-align: center;
}

.container-fluid-wrapper-welcome .footer {
    text-align: center;
    padding-top: 2vh;
}

.span-link {    
    color:#f6006e;
}

.container-fluid.welcome .form-wrapper {
    width: 100%;
    margin-bottom: 3vh;
}

.container-fluid.welcome .sign-in-image img{
    width: 70px;
}

.container-fluid.welcome .sign-in-image {
    text-align: center;
    margin-bottom:0px;
}

.pointer {
    font-size: 12px;
    cursor: pointer;
}

.username-container {
    position: relative;
}

.form-wrapper label {
    color: $text-color;
}

.sign-in-icon-container {
    width: 100%;
    height: 40%;
}

.input-fields {
    width: 90%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sign-in-header {
    // font-family: $font-bold;
    font-size : 27px;
    // color: $gray-dark;
    // letter-spacing: $letter-spacing;
    text-transform: uppercase;

}

.sign-in-image {
    // height: 60%;
    text-align: center;
    margin-bottom: 3rem;
}

header.signin  .user-profile {
    display: none;
}

.sign-in-text {
    // color: $gray-light;
    // font-family: $font-light;
    font-weight: bold;
    // font-size : $font-size-big;
    // letter-spacing: $letter-spacing;
}

.btn-lg {
    text-transform: uppercase;
}

.sign-in-icon-container img.popup {
    // transform: translate(0%, 70%);
    display: block;
    width: 40%;
    margin: auto !important;
    padding-top: 10% !important;
}
.sign-in-icon-container h2.center-text {
    font-size: 26px;
    font-weight: bold;
    font-family: montserratbold;
    letter-spacing: 0.01rem;
    color: $text-color;
}
.sign-in-icon-container small.center-text {
    font-weight: normal;
    font-family: montserrat;
    letter-spacing: 0.01rem;
    display: inline-block;
    padding-top: 2rem;
}
.login-button{
    width: 60%;
}
.extra-margin-actions{
    margin-bottom: 7vh;
}
@media only screen and (max-width: 751px) {
    .container-fluid-wrapper-signin {
        max-width: 90% !important;
    }
}
.container-fluid-wrapper-signin .form-wrapper label {
    font-size: 1.6vh;
    margin-bottom: 1vh;
}
.container-fluid-wrapper-signin .form-control {
    height: 5vh;
    padding: 0.9vh 1.5vh;
    font-size: 1.5vh !important;
}
.container-fluid-wrapper-signin .form-group {
    margin-bottom: 3.7vh;
}
.container-fluid-wrapper-signin .center-text.forgot-pwd {
    font-size: 1.5vh;
}
.container-fluid-wrapper-signin  .button-container {
    margin: 1.8vh 0;
}
.container-fluid-wrapper-signin .login-button {
    padding: 1.3vh 4.9vh;
    font-size: 2vh;
}
.pointer {
    font-size: 12px;
    cursor: pointer;
}

.username-container {
    position: relative;
}

.username-addon {
    position: absolute;
    right: 1px;
    top: 0px;
    padding: 0.9vh 1.5vh;
    font-size: 1.6vh !important;
    text-shadow: 0.33px 0;
    background-color: #e2e2e2;
    border: 1px solid #ccc !important;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    bottom: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.username-error {
    color: red;
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
    background: rgba(255,255,255,0.23);
    border-radius: 2px;
    padding: 1px 4px;
    right: 0;
    left: 0;
    font-size: 11px;
}