.admin.new-container.page-content-container {
    height: calc(100% - 6vh) !important;
    clear:both;
}
.page-header-container.admin {
    box-shadow: none !important;
}
.static .middle-block {
    padding-left: 0;
}
.admin .md-content-inner-wrapper {
    height: 100%;
    position: relative;
}
.left-block{
    display: inline-block;
}
.right-block{
    float: right;
}

.row{
    margin: 0 !important;
}
.compressed-table {
    margin: auto;
    height: 100% !important;
}
.admin.slim-container {
    height: auto;
}
.admin.slim-container .dropdown-wrapper {
    width: 17vw;
}
.admin.slim-container .right {
    padding-left: 2rem;
}
.admin.slim-container .dropdown-wrapper,
.admin.slim-container .right {
    position: relative;
}
.action-width{
  max-width: 155px;
  float: right !important;
}
.tiles-division-title {
    font-size: 1.8vh;
    padding-bottom: 0.7vh;
    border-bottom: 1px solid #333;
}
.tiles-division-container .tiles-wrapper {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.admin .table-container {
    height: calc(100%) !important;
}
.admin .pink-text {
    color: $gray-dark !important;
}
.tiles-container-block .tile-label.edit-icon,
.tiles-container-block .tile-label.delete-icon{
    top: 35px;
    font-size: 20px;
    width: auto;
    cursor:pointer;
}
.tiles-container-block .tile-label.edit-icon {
    position: absolute;
    top: 10%;
    text-align: right;
    width: 44%;
}

.tiles-container-block .tile-label.delete-icon {
    position: absolute;
    top: 10%;
    text-align: right;
    width: 69%;
}
.tiles-container-block img,
.tiles-wrapper .row{
    cursor: default;
}

.page-content-container .md-content-inner-wrapper{
    margin: 0 auto;
}
.admin.new-container.page-content-container .compressed-table .accordian-list-item,
.admin.new-container.page-content-container .compressed-table .accordian-list-main div {
    cursor: none !important;
}
.admin .compressed-table .accordian-list-item .list-icon::before {
    cursor: pointer !important;
}
.admin .compressed-table [role="button"] {
    cursor: default !important;
}
.admin.slim-container .view-controller-img img {
    height: 4.2vh;
    width: 6vw;
}
.admin.slim-container .function-text {
    padding: 0.8vh 0;
}
.admin .accordion-table-data .cell {
    color: #333 !important;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-content-wrapper{
    overflow: hidden;
}

.create-safe-wrapper{
    top: 0;
    position: absolute;
    right: 0em;
}

.create-accessor-wrapper{
    right: 0em;
}

@media #{$small-only}{
  .admin.slim-container .dropdown-wrapper {
    width: 70%;
  }
  .admin.slim-container .view-controller-img img {
    height: initial;
    width: initial;
    margin-top: 1px;
  }
  .admin.slim-container .right {
    padding-top: 0;
  }
}

.safe-management-content md-tabs md-tabs-wrapper{
    box-shadow: 0 0 0 0 #fff !important;
}

.safe-management-content md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple{
    color: gray !important;
}

.safe-management-content md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
    color: #f6006e !important;
}

.create-safe-wrapper .action-icon-wrapper.static{
    color: gray !important;
}

.create-safe-wrapper .middle-block {
    color: gray !important;
}
.create-safe-wrapper .middle-block:hover, 
.create-safe-wrapper .action-icon-wrapper.static:hover{
    font-family: montserrat;
    font-weight: bold !important;
    letter-spacing: 0.05vw;
    color: #f6006e !important;
}
.create-safe-wrapper .function-text.link-style:hover .action-icon-wrapper.static,
.create-safe-wrapper .function-text.link-style:hover .create-link {
    font-family: montserrat;
    font-weight: bold !important;
    letter-spacing: 0.05vw;
    color: #f6006e !important;
}

.tiles-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-content {
    margin-top: 1vh;
}

.data-management-content md-tabs md-tabs-wrapper{
    box-shadow: 0 0 0 0 #fff !important;
}

.data-management-content md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple{
    color: gray !important;
}

.data-management-content md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
    color: #f6006e !important;
}

.data-management-content .row.change-data.header {
    border-bottom: 1px solid $gray-dark;
}
.data-management-content .row.change-data.header .name,
.data-management-content .row.change-data.header .action {
    padding: 1.5vh 0;
    font-size: 1.6vh;    
    color: #333;
}
.data-management-content .row.change-data.header .action {
    padding-left: 15px;
}
.data-management-content .change-safe-table-container .row.change-data.header,
.data-management-content .change-safe-table-container .row.change-data.item {
    padding-left: 1rem !important;
}

.data-management-content .change-list-table-data {
    height: 300px;
    //overflow-y: scroll;
}

.data-management-content .change-safe-table-container .item {
    border-bottom: 1px solid #ccc;
}

.data-management-content .row.change-data .container.name {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.data-management-content .change-safe-table-container .item .name {
    // padding: 1rem 5% 1rem 0;
    // overflow: hidden;
    padding: 1.4vh 5% 1.4vh 0;
    font-size: 1.7vh;
    color: #333!important;
    //width: 31.5% !important;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.data-management-content .change-safe-table-container .item .down {
    height: 6vh;
    width: 4vw;
}

.data-management-content .change-safe-table-container .item .down .list-icon {
    padding: 1vh 3vh 1vh 0.3vw;
    font-size: 3vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-management-content .change-safe-table-container .item .down .list-icon.icon-delete {
  padding: 1.5vh 2vh 1.5vh 0.3vw;
}

.data-management-content .change-safe-table-container .item .down:first-child {
    margin-left: 0vw;
    float: right;
}

.data-management-content .change-safe-table-container .item .down.view,
.data-management-content .change-safe-table-container .item .down.deletesecretids {
    width: 4vw;
    float: left;
}

.data-management-content .change-safe-table-container .item:hover {
    background: #f6f6f6 !important;
}
.data-management-content .change-safe-table-container .item .down.view .list-icon,
.data-management-content .change-safe-table-container .item .down.deletesecretids .list-icon {
    font-size: 1.7vh;
    font-family: montserrat;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 1.3vh 3vh 1.3vh 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.md-approle-management {
    width: 96% !important;
}

.list-download {
    font-size: 12px;
    color: #333 !important;
    transition: 0s ease-in-out color;
    margin-top: 10px;
}

.change-list-table-data.row.secretids {
    max-height: 300px;
    overflow-y: scroll;
}

.common-form input[type='checkbox'] {
    width:auto!important;
}

.data-management-content .row.change-approle .container.checkbox {
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    width:auto;
}
.download-link {
    color: #e20074!important;
    cursor: pointer;
    text-decoration: underline;
}
.download-notification-text {
    padding: 5% 5% 0% 5%!important;
    font-size: 1.9vh;
    color: #666;
    text-align: center;
}

.download-link-style {
    background: url(../assets/images/download.png) no-repeat center;
    background-size: contain;
    padding: 2% 5%;
    width:20px;
    height:20px;
    border: none;
}

.details-input-group .role-status-text {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.05vw;
    float:right;
}
.details-input-group .role-status-text.available {
    color: rgba(0, 180, 0, 0.9);
}
.details-input-group .role-status-text.exists {
    color: rgba(220, 0, 0, 0.9);
}

.notification-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-management-content .row.change-safe-table-container .change-list-table-data.row {
    height: 100%;
}

.solid-header .container.name {
    font-weight: lighter!important;
    font-family: montserrat!important;
    padding-right: 2%!important;
    font-size: 1.7vh!important;
}

.pagination-wrapper {
    position: unset!important;
}

.container-fluid-wrapper.curved {
    margin-bottom: 10px;
    min-height: 100%!important;
    height: auto!important;
}

.svcnotes {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.svcdescription {
    padding-top: 10px;
}

.onboard-link {
    float:right;
}

.weighted {
    font-weight: bold;
}

.svc-collapse-link {
    color:#f6006e;
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }

  .svccollapsible {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding-bottom:10px;
  }

  .cert-conf {
    padding-top: 15px;
  }

  .cert-col {
      padding-left: 10px !important;
  }

  .active-cert {
    background-color: #5cb85c;
    border-radius: 2px;
    padding: 4px;
    color: #fff!important;
    font-weight: normal;
    font-size: x-small;
  }

  .expired-cert {
    background-color: #f33;
    border-radius: 2px;
    padding: 4px;
    color: #fff!important;
    font-weight: normal;
    font-size: x-small;
  }

  .target-note {
      color: #000!important;
      font-weight: bold !important;
  }

.cert-management-content md-tabs md-tabs-wrapper {
    box-shadow: 0 0 0 0 #fff !important;
}