header
sideBar
script(type='text/ng-template', id='deleteSafePopup.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to delete this safe?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="deleteSafe(safeToDelete)") DELETE
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close
script(type='text/ng-template', id='notify.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Notification
        .top-lg-sep.notification-text Admin is not allowed to view inside safe
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close

script(type='text/ng-template', id='offboardWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Offboarding successful!
    .top-lg-sep.notification-text.notification-justify Offboarding of Service Account has been completed successfully. The Service Account Password can no longer be managed by T-Vault. For security reasons, you need to log out and log in order for the changes to effect.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") CLOSE

script(type='text/ng-template', id='transferSvcaccPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Transfer service account owner
    .top-lg-sep.notification-text Are you sure you want to transfer service account owner?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="transferSvcacc(svcaccToTransfer)") TRANSFER
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL

script(type='text/ng-template', id='transferSuccessPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Transfer service account successful!
    .top-lg-sep.notification-text {{ transferFailedMessage }}
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") CLOSE

script(type='text/ng-template', id='transferFailedPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Transfer service account failed!
    .top-lg-sep.notification-text {{ transferFailedMessage }}
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") CLOSE

script(type='text/ng-template', id='certificateCreationPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Certificate Creation Successful!
      .top-lg-sep.notification-text  {{ certificateCreationMessage }}
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") CLOSE  
S
script(type='text/ng-template', id='certificateCreationFailedPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Certificate Creation Failed!
      .top-lg-sep.notification-text  {{ certificateCreationMessage }}
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") CLOSE         


script(type='text/ng-template', id='certificatePopup.html')
          .modal-sep
            .common-header-label.text-center {{editingApprole.status == true ? "Edit" : "Create"}} Certificate

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .common-form-row
                .details-input-group
                    .common-form-label Container
                    input.form-control.input-box-style(value="VenafiBin_12345" uib-tooltip="" tooltip-placement="top" tooltip-popup-delay="600" ng-disabled="true")  
              .cert-conf.clearfix
                .font-type-normal.collapse-link(ng-click="collapseADDetails()") * Please fill the Target system details 
                  span.svc-collapse-link(ng-if="isCollapsed") >> 
                  span.collapse-link(ng-if="!isCollapsed") >> 
                  span.target-note(ng-if="targetSystemSelected") {{cert.targetSystem.name}}
                .font-type-normal(uib-collapse="!isCollapsed")
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                    .details-input-group
                      label.common-form-label Existing target system
                        input(type='radio' id='target_type' value="existing" ng-model="targetSystem.type" ng-checked="targetSystem.type == 'existing'" ng-click="openExistingTargetSystem($event)")
                      label.common-form-label New target System
                        input(type='radio' id='target_type' value="new" ng-model="targetSystem.type" ng-checked="targetSystem.type == 'new'" ng-click="openNewTargetSystem($event)")
                  .font-type-normal(ng-if="!existingTargetSystem")
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Certificate Name*
                        input.form-control.input-box-style( id="certName" ng-model="certObj.certName" ng-change="replaceSpacesCertName()")
                  div.key-acceptance-info() {{ certNameErrorMessage }}
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Name*
                        input.form-control.input-box-style( id="tarSystemName" ng-model="certObj.targetSystem.name" ng-required="true")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Description 
                        input.form-control.input-box-style(id="tarSystemDesc" ng-model="certObj.targetSystem.description")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group 
                        .common-form-label Hostname/IP Address*
                        input.form-control.input-box-style(id="tarSystemAddress"  ng-change="replaceSpacesTargetAddr()" ng-model="certObj.targetSystem.address")
                  div.key-acceptance-info() {{ targetAddrErrorMessage }}
                  .font-type-normal(ng-if="existingTargetSystem")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Choose Target system
                          span *
                        input.form-control.input-box-style(ng-model="cert.targetSystem" typeahead-min-length="3" name="targetSystem" uib-typeahead="key as key.name for key in getTargetSystems($viewValue) | limitTo: 8" typeahead-wait-ms="500" typeahead-on-select="selectTargetSystem(cert.targetSystem)" placeholder="Select the Target system" minlength="3" uib-tooltip="Please input a target system")
                        div.loader.svcaccid(ng-if='showInputLoader.show && cert.targetSystem.length > 2')
                          div.ball-spin-fade-loader
                              div
                              div
                              div
                              div
                              div
                              div
                              div
                              div

              .cert-conf.clearfix
                .font-type-normal.collapse-link(ng-click="collapseADDetails()") * Please fill the Service details 
                  span.svc-collapse-link(ng-if="!isCollapsed") >> 
                  span.collapse-link(ng-if="isCollapsed") >> 
                  span.target-note(ng-if="targetSystemServiceSelected") {{cert.targetSystemService.name}}
                .font-type-normal(uib-collapse="isCollapsed")
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                    .details-input-group
                      label.common-form-label Existing service
                        input(type='radio' id='service_type' value="existing" ng-model="targetSystemService.type" ng-checked="targetSystemService.type == 'existing'" ng-click="openExistingService($event)")
                      label.common-form-label New service
                        input(type='radio' id='service_type' value="new" ng-model="targetSystemService.type" ng-checked="targetSystemService.type == 'new'" ng-click="openNewService($event)")
                  .font-type-normal(ng-if="!existingService")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Name*
                        input.form-control.input-box-style(id="tarSysServiceReqName" ng-model="certObj.targetSystemServiceRequest.name"  ng-required="true")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Description
                        input.form-control.input-box-style(id="tarSysServiceReqDesc" ng-model="certObj.targetSystemServiceRequest.description")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Port*
                        input.form-control.input-box-style(id="tarSysServiceReqPort"  restrict-to-numbers ng-model="certObj.targetSystemServiceRequest.port" minlength="1" maxlength="5" ng-change="portNumValidation()" ng-required="true")
                     div.key-acceptance-info() {{ portErrorMessage }} 
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6.common-form-row()
                      .details-input-group
                        .common-form-label Enable monitoring
                        input(type='checkbox' id="enableMonitoring" ng-model="certObj.targetSystemServiceRequest.monitoringEnabled")
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6.common-form-row()
                      .details-input-group
                        .common-form-label Enable multi-IP monitoring
                        input(type='checkbox' id="enableMultiIpMonitoring" ng-model="certObj.targetSystemServiceRequest.multiIpMonitoringEnabled")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Hostname for SNI
                      input.form-control(id="hostName" ng-change="replaceSpacesHostName()" ng-model="certObj.targetSystemServiceRequest.hostname")
                  div.key-acceptance-info() {{ hostNameErrorMessage }}
                  .font-type-normal(ng-if="existingService")
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.common-form-row()
                      .details-input-group
                        .common-form-label Choose a Service
                          span *
                        input.form-control.input-box-style(ng-model="cert.targetSystemService" typeahead-min-length="3" name="targetSystemService" uib-typeahead="key as key.name for key in getTargetSystemService($viewValue) | limitTo: 8" typeahead-wait-ms="500" typeahead-on-select="selectTargetSystemService(cert.targetSystemService)" placeholder="Select the Target system service" minlength="3" uib-tooltip="Please select a target system service")
                        div.loader.svcaccid(ng-if='showServiceInputLoader.show && cert.targetSystemService.length > 2')
                          div.ball-spin-fade-loader
                              div
                              div
                              div
                              div
                              div
                              div
                              div
                              div
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(id="cert_create_btn" ng-click="createCert()" ng-disabled="isCreateCertBtnDisabled()" ) {{editingApprole.status == true ? "Create" : "Create"}}
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel

script(type='text/ng-template', id='appRolePopup.html')
          .modal-sep
            .common-header-label.text-center {{editingApprole.status == true ? "Edit" : "Create"}} AppRole

          //-   First popup of the Approle configure with multiple ID input fields

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .common-form-row
                .details-input-group
                    .common-form-label Role Name 
                      span * 
                    input.form-control.input-box-style(value="{{approleConfPopupObj.role_name}}" ng-change="checkRoleExists()" restrict-config-char-approle ng-model="approleConfPopupObj.role_name" placeholder="Role name" maxlength="50" minlength="3" ng-disabled="roleNameSelected" uib-tooltip="Name of the AppRole" tooltip-placement="top" tooltip-popup-delay="600") 
                    div.key-acceptance-info(ng-if = "!editingApprole.status") Please enter minimum 3 characters.
                        .role-status-text.available(ng-if = "!rolenameExists && approleConfPopupObj.role_name.length>2") Available
                        .role-status-text.exists(ng-if = "rolenameExists && approleConfPopupObj.role_name.length>2") AppRole Exists
              .aws-conf.clearfix
                .font-type-normal Please fill the required fields

                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Token Max TTL
                      span * 
                    input.form-control.input-box-style(value="{{approleConfPopupObj.token_max_ttl}}" id="token_max_ttl" restrict-to-numbers placeholder="token_max_ttl" ng-model="approleConfPopupObj.token_max_ttl" minlength="1" maxlength="9" uib-tooltip="Duration in seconds after which the issued token can no longer be renewed" tooltip-placement="top" tooltip-popup-delay="600")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Token TTL
                      span * 
                    input.form-control.input-box-style(value="{{approleConfPopupObj.token_ttl}}" id="token_ttl" restrict-to-numbers placeholder="token_ttl" ng-model="approleConfPopupObj.token_ttl" minlength="1" maxlength="9" uib-tooltip="Duration in seconds to set as the TTL for issued tokens and at renewal time" tooltip-placement="top" tooltip-popup-delay="600")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Secret Id Num Uses
                      span * 
                    input.form-control.input-box-style(value="{{approleConfPopupObj.secret_id_num_uses}}" id="secret_id_num_uses" restrict-to-numbers placeholder="secret_id_num_uses" ng-model="approleConfPopupObj.secret_id_num_uses" minlength="1" maxlength="9" uib-tooltip="Number of times the SecretID can be used to fetch a token from this AppRole" tooltip-placement="top" tooltip-popup-delay="600")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Token Num Uses
                      span * 
                    input.form-control.input-box-style(value="{{approleConfPopupObj.token_num_uses}}" id="token_num_uses" restrict-to-numbers placeholder="token_num_uses" ng-model="approleConfPopupObj.token_num_uses" minlength="1" maxlength="9" uib-tooltip="Number of times issued tokens can be used" tooltip-placement="top" tooltip-popup-delay="600")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Secret Id TTL
                      span * 
                    input.form-control.input-box-style(value="{{approleConfPopupObj.secret_id_ttl}}" id="secret_id_ttl" restrict-to-numbers placeholder="secret_id_ttl" ng-model="approleConfPopupObj.secret_id_ttl" minlength="1" maxlength="9" uib-tooltip="Duration in seconds after which SecretID expires" tooltip-placement="top" tooltip-popup-delay="600")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row(ng-if='editingApprole.status == true')
                  .details-input-group
                    .common-form-label Permissions
                    input.form-control.input-box-style(value="{{approleConfPopupObj.policies}}" id="policies" placeholder="PERMISSIONS" ng-disabled="true" ng-model="approleConfPopupObj.policies" maxlength="512" restrict-special-char-but-comma uib-tooltip="Comma-separated list of policies" tooltip-placement="top" tooltip-popup-delay="600")
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(id="approle_create_btn" ng-click="createApprole()" ng-disabled="isApproleBtnDisabled()" ) {{editingApprole.status == true ? "Update" : "Create"}}
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel
script(type='text/ng-template', id='deleteAccessorPopup.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to delete this Accessor ID?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="deleteAccessor(accessorIDToDelete)") DELETE
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="deleteAccessorCancel()") CANCEL

script(type='text/ng-template', id='createSecretIDPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to create new Secret ID for the AppRole {{createSecretIDForAppRole}} ?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="createSecretID(createSecretIDForAppRole)") CREATE
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL

script(type='text/ng-template', id='notifySecretID.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Save the Secret ID and Accessor ID
        .top-lg-sep.notification-text Secret Id   - {{secretId}}
        .top-lg-sep.notification-text Accessor Id - {{accessorId}}
        .top-lg-sep.download-notification-text
            button.download-link-style(ng-click = "downloadIDs(secretId, accessorId, approlename)")
            span Please click here to 
            span.download-link(ng-click = "downloadIDs(secretId, accessorId, approlename)") download 
            span Secret ID and Accessor ID
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close

script(type='text/ng-template', id='deleteApprolePopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to delete the AppRole {{appRoleToDelete}} ?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="deleteAppRole(appRoleToDelete)") DELETE
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL

script(type='text/ng-template', id='offboardSvcaccPopUp.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to offboard this Service Account? This will not delete the Service Account from AD server.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="offboardSvcacc(svcaccToOffboard)") OFFBOARD
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL

script(type='text/ng-template', id='manageSecretId.html')
          .modal-sep
            .common-header-label.text-center Manage Secret IDs 
          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .common-form-row
                .details-input-group
                    div.data-management-content
                        .row.change-data.header(ng-show="!isLoadingData")
                            .container.name Accessor IDs
                        .change-list-table-data.row
                            .row.change-data.item(ng-show="!isLoadingData && appRoleData.accessors.keys.length==0")
                                .container.name No Secret Ids available
                            .row.change-data.item(ng-show="!isLoadingData"  ng-repeat="accessorvalue in appRoleData.accessors.keys")      
                                .container.name.col-lg-10.col-md-10.col-sm-10.col-xs-10 {{accessorvalue}}                                    
                                .container.name.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                    input(type='checkbox' value="{{accessorvalue}}" ng-click="chooseAccessor(accessorvalue)") 
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(ng-click="deleteAccessorPopUp()" ng-disabled="accessorListToDelete.length == 0") Delete {{accessorListToDelete.length == 0?'':accessorListToDelete.length}}
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL

.container-fluid
    .container-fluid-wrapper.curved
        .page-header-container.admin
            .header-inner-container
                nav-bar(active-tab="admin" gotoPage="goToPage" nav-tags="adminNavTags")
                .page-header-text ADMIN
        .page-content-container.admin
            .right.search-bar-container
                .search-bar
                    .search-box
                        .search-icon
                            .icon-search
                        .search-input-wrapper
                            input.search-input-box(type='text' placeholder='SEARCH' ng-model="searchValue" restrict-special-char minlength="3" maxlength="40")
            md-content.admin-content
                md-tabs(md-dynamic-height md-border-bottom md-selected="selectedIndex")
                    md-tab(label="Safe Management" md-on-select="tabChangeForAdmin()")
                        md-content(class="md-padding md-content-wrapper page-content-wrapper" ng-init="displayGrid")  
                            .md-content-inner-wrapper                               
                                div.safe-management-content
                                    loading-state(ng-if='isLoadingData')                               
                                    md-tabs.admin-tabs.md-dynamic-height.md-border-bottom(md-selected="vm.selectedGroupOption")
                                        md-tab( ng-if='!isLoadingData' ng-init="numOfTiles = tab.safes.length" ng-repeat="tab in data | orderBy : '-type'" ng-attr-label="{{tab.type}} ({{numOfTiles}})")
                                            md-content(class="md-padding md-content-wrapper")
                                                .unavailable-text(ng-if='(tab.safes.length === 0)')
                                                    | No Safe Available
                                                tiles(data="tab.safes" num-of-tiles="numOfTiles" tile-func-available="true" img="'safe.png'" search-value="searchValue" tile-details="showNotification" parent="admin" edit-folder="adminEditFolder(param)" delete-folder="deleteSafePopup(param)" loading="isLoadingData")
                                div.create-safe-wrapper
                                    .function-text.link-style.option.right(ng-click="goTo('change-safe')")
                                        .action-icon-wrapper.static
                                            .rotate.glyphicon.glyphicon-remove-circle
                                        .create-link.middle-block.hide-in-mobile
                                            .text CREATE NEW SAFE
                    md-tab(label="Vault AppRole Management" md-on-select="tabChangeForAdmin()")
                        md-content(class="md-padding md-content-wrapper page-content-wrapper md-approle-management" ng-init="displayGrid")
                            .new-container.page-content-container
                                .md-content-inner-wrapper
                                    div.data-management-content
                                        .row.change-safe-table-container(ng-if='true')
                                            loading-state(ng-if='isLoadingData')
                                            .row.change-data.header.solid-header(ng-show="!isLoadingData && appRoleData.keys.length>0")
                                                .container.name.col-lg-3.col-md-3.col-sm-3.col-xs-3 APPROLE NAME
                                                .container.name.action.col-lg-5.col-md-5.col-sm-5.col-xs-5 ACTION
                                            .change-list-table-data.row
                                                .unavailable-text(ng-show="!isLoadingData && appRoleData.keys.length==0")
                                                    .container.name No AppRoles Available
                                                .row.change-data.item(ng-show="!isLoadingData" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="value in appRoleData.keys | filter:searchValue")
                                                    .container.name.col-lg-3.col-md-3.col-sm-3.col-xs-3(title="{{value}}") {{value}}
                                                    .container.radio-inputs.col-lg-7.col-md-7.col-sm-7.col-xs-7
                                                        .down.view
                                                            .list-icon(ng-click = "editApprole(value, 'md')")  View/Edit AppRole
                                                        .down.deletesecretids
                                                            .list-icon(ng-click = "createSecretIDPopUp(value)" ) Create Secret ID
                                                        .down.deletesecretids
                                                            .list-icon(ng-click = "showAccessorsPopUp(value)" )  Manage Secret IDs
                                                    .container.radio-inputs.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                        .down
                                                            .list-icon.icon-delete(ng-click = "deleteApprolePopUp(value)")
                                    div.create-safe-wrapper
                                        .function-text.link-style.option.right(ng-click="newAppRoleConfiguration('md')")
                                            .action-icon-wrapper.static
                                                .rotate.glyphicon.glyphicon-remove-circle
                                            .create-link.middle-block.hide-in-mobile
                                                .text CREATE NEW APPROLE
                    md-tab(label="Service Account Management" md-on-select="tabChangeForAdmin()" ng-if="enableSvcacc")
                        md-content(class="md-padding md-content-wrapper page-content-wrapper md-approle-management" ng-init="displayGrid")
                            .new-container.page-content-container
                                .md-content-inner-wrapper
                                    div.svcnotes T-Vault can be used to manage the life cycle of Corporate (CORP) active directory service accounts, including password resets and expiry. In order to self-service your service accounts there is a three-step process to onboard the account into T-Vault. Click here for more information 
                                      span.svc-collapse-link(ng-click="collapseNote()") >>
                                    div.svccollapsible(uib-collapse="isCollapsed")
                                      div.svcdescription 
                                      div.svcdescription
                                        text.weighted Step 1: On-Boarding:
                                        text This step brings links a service account to be self-service managed into T-Vault. This is a one-time operation.
                                      div.svcdescription
                                        text.weighted Step 2: Service Account Activation:
                                        text The service account owner will rotate the account password once after on-boarding the account into T-Vault. This process ensures that the passwords in T-Vault and Active Directory are in sync. 
                                      div.svcdescription
                                        text.weighted Step 3: Granting Permissions:
                                        text When a service account is activated in T-Vault, the account owner can grant specific permissions to other users and groups allowing others to read and/or reset the password for the service account as well through T-Vault.
                                      div.svcdescription
                                          text.weighted Note:
                                          text T-Vault will rotate the Passwords lazily based on password expiration time (known as TTL). i.e. A password is configured with a TTL of 1 hour will get expire after 1 hour, but the rotation will happen only when it is first requested after the expiry.
                                    div.onboard-link(ng-show="!isLoadingData && svcaccOnboardedData.keys.length==0")
                                        .function-text.link-style.option.right(ng-click="onboardSvcaccAccount('md')")
                                            .action-icon-wrapper.static
                                                .rotate.glyphicon.glyphicon-remove-circle
                                            .create-link.middle-block.hide-in-mobile
                                                .text(uib-tooltip="Onboard new Service Account") ONBOARD NEW SERVICE ACCOUNT
                                    div.svcdescription(ng-show="!isLoadingData && svcaccOnboardedData.keys.length>0") The following are list of service accounts managed by T-Vault. You can click View/Edit link to either activate the Service account for password rotation or grant permissions for users and groups.
                                    div.data-management-content
                                        .row.change-safe-table-container(ng-if='true')
                                            loading-state(ng-if='isLoadingData')
                                            .row.change-data.header.solid-header(ng-show="!isLoadingData && svcaccOnboardedData.keys.length>0")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="SERVICE ACCOUNT NAME") ACCOUNT NAME
                                                .container.name.cell.col-lg-2.col-md-2.col-sm-2.col-xs-2 ACTION
                                                div.onboard-link
                                                  .function-text.link-style.option.right(ng-click="onboardSvcaccAccount('md')")
                                                      .action-icon-wrapper.static
                                                          .rotate.glyphicon.glyphicon-remove-circle
                                                      .create-link.middle-block.hide-in-mobile
                                                          .text(uib-tooltip="Onboard new Service Account") ONBOARD NEW SERVICE ACCOUNT
                                            .change-list-table-data.row
                                                .unavailable-text(ng-show="!isLoadingData && svcaccOnboardedData.keys.length==0")
                                                    .container.name No Service Accounts enabled for Password Rotation
                                                .row.change-data.item(ng-show="!isLoadingData" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="value in svcaccOnboardedData.keys | filter:searchValue | limitTo: paginationLimit()")
                                                    .container.name.cell.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="{{value}}") {{value}}
                                                    .container.radio-inputs.cell.col-lg-6.col-md-.col-sm-6.col-xs-6
                                                        .down.view
                                                            .list-icon(ng-click = "editOnboardedSvcacc(value, 'md')" uib-tooltip="View/Edit Service Account password rotation configuration")  View/Edit
                                                        .down.view
                                                            .list-icon(ng-click = "transferOwnerPopUp(value, 'md')" uib-tooltip="Transfer owner")  Transfer owner
                                                    .container.radio-inputs.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                        .down
                                                            .list-icon.icon-delete(ng-click = "offboardSvcaccPopUp(value)" uib-tooltip="Offboard Service Account")
                                            .pagination-wrapper(ng-show='hasMoreItemsToShow()')
                                                .pagination-count(ng-if="numOfSvcaccs>0") Displaying {{currentshown}} of {{numOfSvcaccs}}
                                                .pagination-button-wrapper(ng-click='showMoreItems()')
                                                    button.show-more-btn VIEW MORE
                                                    span
                                                        img(src="assets/icons/front-arrow.svg")
                    md-tab(label="Certificate Management" md-on-select="tabChangeForAdminCert()")
                        md-content(class="md-padding md-content-wrapper page-content-wrapper md-approle-management" ng-init="displayGrid")
                          .md-content-inner-wrapper
                              div.onboard-link(ng-show="!isLoadingData && certificateData.certificates.length==0")
                                  .function-text.link-style.option.right(ng-click="newCertificateConfiguration('lg')")
                                      .action-icon-wrapper.static
                                          .rotate.glyphicon.glyphicon-remove-circle
                                      .create-link.middle-block.hide-in-mobile
                                          .text CREATE NEW CERTIFICATE
                              div.cert-management-content
                                loading-state(ng-if='isLoadingData')                               
                                md-tabs.admin-tabs.md-dynamic-height.md-border-bottom
                                    md-tab( ng-if='!isLoadingData' ng-attr-label="All certificates")
                                        md-content(class="md-content-wrapper")
                                          div.data-management-content
                                            .row.change-safe-table-container(ng-if='true')
                                              loading-state(ng-if='isLoadingData')
                                              .row.change-data.header.solid-header(ng-show="!isLoadingData && certificateData.certificates.length>0")
                                                  .container.name.col-lg-4.col-md-4.col-sm-3.col-xs-3 CERTIFICATE
                                                  .container.name.action.col-lg-2.col-md-2.col-sm-2.col-xs-2 STATUS
                                                  .container.name.action.col-lg-2.col-md-2.col-sm-2.col-xs-2 ACTION
                                                  div.onboard-link
                                                    .function-text.link-style.option.right(ng-click="newCertificateConfiguration('lg')")
                                                      .action-icon-wrapper.static
                                                          .rotate.glyphicon.glyphicon-remove-circle
                                                      .create-link.middle-block.hide-in-mobile
                                                          .text CREATE NEW CERTIFICATE
                                              .change-list-table-data.row
                                                  .unavailable-text(ng-show="!isLoadingData && certificateData.certificates.length==0")
                                                      .container.name No Certificates Available
                                                  .row.change-data.item(ng-show="!isLoadingData" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="value in certificateData.certificates | filter: searchCert()")
                                                      .container.name.col-lg-4.col-md-4.col-sm-3.col-xs-3(title="{{ getCertSubjectName(value) }}") {{ getCertSubjectName(value) }}
                                                      .container.radio-inputs.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                                          .down.view
                                                              .list-icon(ng-if="value.certificateStatus=='Active'")
                                                                label.active-cert {{ value.certificateStatus}}
                                                              .list-icon(ng-if="value.certificateStatus=='Expired'")
                                                                label.expired-cert {{ value.certificateStatus}}
                                                      .container.radio-inputs.col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                          .down.view
                                                              .list-icon()  Onboard
                                                          .down.view
                                                              .list-icon()  Renew certificate
                                                          .down.deletesecretids
                                                              .list-icon(ng-click = "createSecretIDPopUp(value.certificateId)" ) Revoke certificate
                                                      .container.radio-inputs.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                              .pagination-wrapper(ng-show='certificateData.next')
                                                  .pagination-count(ng-if="numOfCertificates>0") Displaying {{certificateData.limit+certificateData.offset}} of {{certificateData.totalCount}}
                                                  .pagination-button-wrapper(ng-click='showMoreCert()')
                                                      button.show-more-btn VIEW MORE
                                                      span
                                                          img(src="assets/icons/front-arrow.svg")
                                    md-tab( ng-if='!isLoadingData' ng-attr-label="Onboarded certificates")
                                        md-content(class="md-padding md-content-wrapper")
                                              


                                    
