header
sideBar
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close
script(type='text/ng-template', id='resetPopup.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to reset the password for this Service Account?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="resetPasswordForSvcacc(resetSecretDetails)") RESET
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL
.container-fluid
    .container-fluid-wrapper.curved
        .page-header-container.admin
            .header-inner-container
                nav-bar(active-tab="iam-service-accounts" gotoPage="goToPage" nav-tags="adminNavTags")
                .page-header-text IAM SERVICE ACCOUNTS
        .page-content-container.admin
            .right.search-bar-container
                .search-bar(ng-if="!viewPassword")
                    .search-box
                        .search-icon
                            .icon-search
                        .search-input-wrapper
                            input.search-input-box(type='text' placeholder='SEARCH' ng-model="searchValueSvcacc" restrict-special-char minlength="3" maxlength="40" ng-change="filterSvcacc(searchValueSvcacc)")
            md-content.admin-content
                md-tabs(md-dynamic-height md-border-bottom md-selected="selectedIndex")                    
                    md-tab(label="My Accounts")
                        md-content(class="md-padding md-content-wrapper page-content-wrapper md-serviceaccount" ng-init="displayGrid" ng-if="!viewPassword")
                            .new-container.page-content-container
                                .md-content-inner-wrapper
                                    div.data-management-content
                                        div.svcdescription(ng-show="svcaccOnboardedData.keys.length>0") Following are list of the IAM Service Accounts which you have read or reset permission. Click the Service Account to read or reset password.
                                        .row.change-svc-table-container
                                            loading-state(ng-if='isLoadingData')
                                            md-content(class="md-padding md-content-wrapper")
                                                .unavailable-text(ng-if='svcaccOnboardedData.keys.length==0')
                                                    | No Iam Service Accounts Available
                                                div.tiles-wrapper(img="'safe.png'" loading="isLoadingData")
                                                    .tiles-wrapper
                                                        .loader-wrapper(ng-show="loading" ng-cloak="")
                                                            .gif-wrp
                                                                img(src="assets/images/loading.gif" class="loading-state-img")
                                                        ul(ng-show="!loading" class="row" ng-cloak="")
                                                            li(class="tiles-container col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="item in svcaccOnboardedData.keys | filter : searchValueSvcacc | limitTo: paginationLimit()" ng-click="viewFolders(item.iamsvcaccname, 'md')" )
                                                                .tiles-container-block(class="padded" md-whiteframe="{{height}}" ng-init="height = 3" ng-mouseenter="height = 12" ng-mouseleave="height = 3" ng-class="safe-parent")
                                                                    .tile-image-wrapper
                                                                    .tile-label(uib-tooltip="{{item.svcaccname}}") {{item.svcaccname}}
                                                            li(ng-repeat="item in numOfTiles = ( svcaccOnboardedData.keys | filter : { svcaccname: searchValueSvcacc } ).length")
                                            .pagination-wrapper(ng-show='hasMoreItemsToShow()')
                                                .pagination-count(ng-if="numOfSvcaccs>0") Displaying {{currentshown}} of {{numOfSvcaccs}}
                                                .pagination-button-wrapper(ng-click='showMoreItems()')
                                                    button.show-more-btn VIEW MORE
                                                    span
                                                        img(src="assets/icons/front-arrow.svg")
                        md-content(class="au-tabs-inner _md" ng-init="displayGrid" ng-if="viewPassword && folderDisplay")
                            .create-folder-container.slide-header
                                    .function-text
                                        .clearfix
                                            .editColor.left.static
                                                .glyphicon.glyphicon-chevron-left(ng-click="goToMyServiceAccounts()")
                                            div.left
                                                span
                                                    span {{iamsvcaccSecretData.userName}}
                            div.data-management-content
                                text(ng-if="folderDisplay")
                                text(ng-if="folderDisplay")
                                .row.change-svc-table-container
                                    loading-state(ng-if='isLoadingData')
                                    .row.table-header.solid-header(ng-show="!isLoadingData && folderDisplay")
                                        .container.name.cell.col-lg-6.col-md-6.col-sm-6.col-xs-6.table-first-cell NAME 
                                    .accordion-list-main.adjustment(ng-repeat="value in folderList.folders" ng-click="viewSecret(folderList.path, value)")
                                        .row.accordion-list-wrapper(ng-if="folderDisplay")
                                        .cell.pink-text.col-lg-4.col-md-4.col-sm-4.col-xs-3.column-value-wrapper.fits-contents(ng-if="folderDisplay")
                                                span.icon.list-icon.folder.icon-folder.icon-folder-open 
                                                span.au-table-row-input {{value}}
                                            .col-lg-1.col-md-1.col-sm-1.col-xs-1.column-value-wrapper
                                                .invisible CLEARFIX
                                            .cell.col-lg-3.col-md-3.col-sm-3.col-xs-3.column-value-wrapper
                                                .invisible CLEARFIX
                                            .cell.col-lg-2.col-md-2.col-sm-2.col-xs-2.column-value-wrapper.center-text
                                                .invisible CLEARFIX
                        md-content(class="au-tabs-inner _md" ng-init="displayGrid" ng-if="viewPassword && !folderDisplay")
                            .create-folder-container.slide-header
                                    .function-text
                                        .clearfix
                                            .editColor.left.static
                                                .glyphicon.glyphicon-chevron-left(ng-click="goToMyServiceAccounts()")
                                            div.left
                                                span
                                                    span {{iamsvcaccSecretData.userName}}

                            div.data-management-content
                                text(ng-if="ifSecret && write && !folderDisplay") You have read and reset permission in this Iam Service Account. Click the copy icon/view icon to get the password. Use the "Reset" link to reset the Iam Service Account password.
                                text(ng-if="ifSecret && !write && !folderDisplay") You have read permission in this Iam Service Account. Click the copy icon/view icon to get the password.
                                .row.change-svc-table-container
                                    loading-state(ng-if='isLoadingData')
                                    .row.table-header.solid-header(ng-show="!isLoadingData && !folderDisplay")
                                        .container.name.cell.col-lg-4.col-md-4.col-sm-4.col-xs-4.table-first-cell ACCESS KEY
                                        .container.name.cell.col-lg-4.col-md-4.col-sm-4.col-xs-4.table-first-cell SECRET KEY
                                        .container.name.cell.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                    .accordion-list-main.adjustment(ng-if="!folderDisplay")
                                        .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4.cell 
                                            .cell.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                img.list-icon.folder(src="assets/icons/safe.svg") 
                                                input.form-control.input-box-style.au-textarea.input-disabled-text-wrapper.folder-row-secret-wrapper(rows="1" ng-disabled="true" ng-value="iamsvcaccSecretData.accessKeyId")
                                        .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4.cell 
                                            .cell.col-lg-12.col-md-12.col-sm-12.col-xs-12  
                                                input.form-control.input-box-style.au-textarea.input-disabled-text-wrapper.folder-row-secret-wrapper(rows="1" au-display="{{!showPassword}}" ng-disabled="true" ng-value="iamsvcaccSecretData.secretkey.replace(anyRegex, '\u00B7')")
                                                input.form-control.input-box-style.au-textarea.input-disabled-text-wrapper.folder-row-secret-wrapper(rows="1" au-display="{{showPassword}}" ng-disabled="true" ng-value="iamsvcaccSecretData.secretkey")
                                                .list-icon.icon-content_copy.vertical-sub-align(ng-if="ifSecret" ng-click="copyToClipboard($event, iamsvcaccSecretData.secretkey, 'COPY_TO_CLIPBOARD')" uib-tooltip="Copy password to clipboard")
                                                .list-icon.icon-views.vertical-sub-align(ng-mousedown="showPassword = true;" ng-mouseup="showPassword = false" uib-tooltip="View password")
                                        .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4.cell
                                            .down.view
                                                .list-icon.reset(ng-if="ifSecret && write" ng-click="resetPasswordPopup(iamsvcaccSecretData.userName,iamsvcaccSecretData.secretkey)" uib-tooltip="Reset password") Reset
                        