md-content
    md-tabs.md-dynamic-height.md-border-bottom.height-auto(md-selected="vm.tabIndex")
        md-tab(ng-repeat="tab in vm.safeCategories" ng-attr-label="{{tab.name}}" ng-click="vm.clickSafeTab(tab)")
            md-content
                div.invisible stand-in content

    md-content.au-tabs-inner
        .md-content-inner-wrapper
            .new-container.page-content-container.safe
                .create-folder-container.slide-header
                    .function-text
                        .clearfix
                            .editColor.left.static(ng-click="vm.goToSafeTiles()")
                                .glyphicon.glyphicon-chevron-left
                            div.left
                                span(ng-repeat="folder in vm.folderPathArray")
                                    span(ng-click="vm.goToFolder(folder.fullPath)" ng-class="{'folder-link': !$last}") {{folder.folderName}}
                                    span(ng-if="!$last") {{' / '}}

                    .function-text.link-style.option.right(ng-click="vm.createSecretWO()" ng-if="vm.writeAccess == 'write-only'")
                        .action-icon-wrapper.static
                            .rotate.glyphicon.glyphicon-remove-circle
                        .create-link.middle-block
                            .text.hide-in-mobile CREATE NEW SECRET
            .au-loader(ng-if="vm.loadingFlag")
                loading-state

            folder-wo-contents-table(folder-content="vm.folderContent" loading="vm.loading" write="vm.writeAccess == 'write' || vm.writeAccess == 'write-only'" ng-if="!vm.loadingFlag")



