header
sideBar
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") Close
script(type='text/ng-template', id='resetStatus.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Activation Successful!
        .top-lg-sep.notification-text {{resetMessage}}
        .top-lg-sep.copy-notification-text
            span.list-icon.icon-content_copy.cursor-span(ng-click="copyToClipboard($event, newPassword, 'COPY_TO_CLIPBOARD')") 
            span Please click here to 
            span.pwd-copy-link(ng-click = "copyToClipboard($event, newPassword, 'COPY_TO_CLIPBOARD')") copy
            span  the password and update the dependent services. You may also want to assign permissions for other users or groups to view or modify this service account.  Please do so by clicking the &quot;Grant Permission&quot; button on the next screen.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="onboardingDone()") Close
script(type='text/ng-template', id='openSvcAccDefaultWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Onboarding Service Account
    .top-lg-sep.notification-text The password for this service account will expire in {{ defatulTTL }} and enabled for auto rotation by T-Vault. When you request for the password after this time, T-Vault will generate new password and make it available.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="onboardSvcAccount()") ONBOARD
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL
script(type='text/ng-template', id='openSvcAccNoRotationWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Onboarding Service Account
    .top-lg-sep.notification-text.notification-justify The password for this service account will expire in {{ defatulTTL }} and will not be enabled for auto rotation by T-Vault. You need to make sure the password for this service account is getting rotated appropriately.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="onboardSvcAccount()") ONBOARD
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL
script(type='text/ng-template', id='openSvcAccCustomTTLWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Onboarding Service Account
    .top-lg-sep.notification-text The password for this service account will expire in {{ customTTL }} and enabled for auto rotation by T-Vault. When you request for the password after this time, T-Vault will generate new password and make it available.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="onboardSvcAccount()") ONBOARD
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL
script(type='text/ng-template', id='openSvcAccCustomTTLEditWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Updating Service Account
    .top-lg-sep.notification-text The password for this service account will expire in {{ customTTL }} and enabled for auto rotation by T-Vault. When you request for the password after this time, T-Vault will generate new password and make it available.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="editSvcaccountOnboard()") Update
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL
script(type='text/ng-template', id='openOnboardSuccessMessage.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Onboarding successful!
    .top-lg-sep.notification-text.notification-justify Onboarding of service account has been completed successfully. To continue, the service account needs to be activated by  
      text.collapse-link {{ ownerName }} - {{ ownerEmail }}
      text . If you are owner of the service account, you need to log out and login again to activate it.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="onboardingDone()") CLOSE
script(type='text/ng-template', id='openSvcAccDefaultEditWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Updating Service Account
    .top-lg-sep.notification-text The password for this service account will expire in {{ defatulTTL }} and enabled for auto rotation by T-Vault. When you request for the password after this time, T-Vault will generate new password and make it available.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="editSvcaccountOnboard()") Update
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="onboardingDone()") CANCEL
script(type='text/ng-template', id='openSvcAccNoRotationEditWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Updating Service Account
    .top-lg-sep.notification-text.notification-justify The password for this service account will expire in {{ defatulTTL }} and will not be enabled for auto rotation by T-Vault even after it is expired. You need to make sure the password for this service account is getting rotated appropriately.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="editSvcaccountOnboard()") Update
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="onboardingDone()") CANCEL
script(type='text/ng-template', id='openUpdateResetRequiredMessage.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Update successful!
    .top-lg-sep.notification-text.notification-justify Onboarding of service account has been completed successfully. To continue, the service account needs to be activated by 
      text.collapse-link {{ ownerName }} - {{ ownerEmail }}
      text . If you are owner of the service account, you need to log out and login again to activate it.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="onboardingDone()") CLOSE
script(type='text/ng-template', id='openUpdateSuccessMessage.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Update successful!
    .top-lg-sep.notification-text.notification-justify Password rotation configuration for the service account has been updated successfully.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="onboardingDone()") CLOSE
script(type='text/ng-template', id='openOneTimeResetFailedMessage.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Activation Failed!
    .top-lg-sep.notification-text.notification-justify You have just onboarded this service account. You need to log out and login again to activate it.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") CLOSE
script(type='text/ng-template', id='oneTimeResetConfirmation.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Service Account Activation!
    .top-lg-sep.notification-text.notification-justify During the activation, <strong>the password of the service account will be reset</strong> to ensure Active Directory and T-Vault are in sync. If you want to continue with activation now please click  the &quot;ACTIVATE SERVICE ACCOUNT&quot; button below and make sure to update any services depending on the service account with its new password.
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="oneTimeReset()") Activate
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL


script(type='text/ng-template', id='changeSafePopup.html')
          .modal-sep
            .common-header-label.text-center Configure your app 

          //-   First popup of the AWS configure with multiple ID input fields

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .control-group
                                .common-form-label AWS Authentication Type
                                  span *
                                .common-radio-group
                                    label.control.control--radio EC2
                                      input(type='radio' id='auth_type' value="ec2" ng-model="awsConfPopupObj.auth_type" ng-checked="awsConfPopupObj.auth_type == 'ec2'" ng-click="enableEc2Controls($event)")
                                      .control__indicator
                                    label.control.control--radio IAM
                                      input(type='radio' id='auth_type' value="iam" ng-model="awsConfPopupObj.auth_type" ng-checked="awsConfPopupObj.auth_type == 'iam'" ng-click="enableIamControls($event)")
                                      .control__indicator

              .common-form-row
                .details-input-group
                    .common-form-label Role Name
                      span *
                    input.form-control.input-box-style(value="{{awsConfPopupObj.role}}" minlength="3" maxlength="50" restrict-config-char ng-model="awsConfPopupObj.role" placeholder="Role name - Enter min 3 characters" required)
              .aws-conf.clearfix
                .font-type-normal **Please fill at least one of the following

                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Account ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_account_id}}" id="bound_account_id" minlength="12" maxlength="15" restrict-to-numbers placeholder="Account ID" ng-model="awsConfPopupObj.bound_account_id" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Region
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_region}}" id="bound_region" restrict-config-char maxlength="25" placeholder="Region ID" ng-model="awsConfPopupObj.bound_region" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label VPC ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_vpc_id}}" id="bound_vpc_id" restrict-config-char  maxlength="256" placeholder="VPC ID" ng-model="awsConfPopupObj.bound_vpc_id" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Subnet ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_subnet_id}}" id="bound_subnet_id" restrict-config-char maxlength="256" placeholder="Subnet ID" ng-model="awsConfPopupObj.bound_subnet_id" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label AMI ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_ami_id}}" id="bound_ami_id" restrict-config-char maxlength="256" placeholder="AMI ID" ng-model="awsConfPopupObj.bound_ami_id")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Instance Profile ARN
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_instance_profile_arn}}" id="bound_iam_instance_profile_arn" restrict-arn-special-char minlength="20" maxlength="1024" placeholder="Instance Profile ARN" ng-model="awsConfPopupObj.bound_iam_instance_profile_arn")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label IAM Role ARN
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_role_arn}}" id="bound_iam_role_arn" restrict-arn-special-char minlength="20" maxlength="1024" placeholder="IAM Role ARN" ng-model="awsConfPopupObj.bound_iam_role_arn")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label IAM Principal ARN
                      span *
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_principal_arn}}" id="bound_iam_principal_arn" restrict-arn-special-char minlength="20" maxlength="1024" placeholder="IAM Principal ARN" ng-model="awsConfPopupObj.bound_iam_principal_arn" required)
                
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .common-form-label Permission
                              span *
                            .common-radio-group
                                radio-buttons(data="radio" value="awsRadioBtn.value" state="true")
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(ng-click="addPermission('AwsRoleConfigure', awsConfPopupObj.role, awsRadioBtn.value, false)" ng-disabled="!(awsConfPopupObj.auth_type.length > 0 && awsConfPopupObj.role.length > 0 && ((awsConfPopupObj.auth_type == 'ec2' && (awsConfPopupObj.bound_account_id.length > 0 || awsConfPopupObj.bound_region.length > 0 || awsConfPopupObj.bound_vpc_id.length > 0 || awsConfPopupObj.bound_subnet_id.length > 0 || awsConfPopupObj.bound_ami_id.length > 0 || awsConfPopupObj.bound_iam_instance_profile_arn.length >0 || awsConfPopupObj.bound_iam_role_arn.length >0)) || (awsConfPopupObj.auth_type == 'iam' && awsConfPopupObj.bound_iam_principal_arn.length > 0)))" ) {{editingAwsPermission.status == true ? "Update" : "Create"}}
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel

script(type='text/ng-template', id='appRolePopup.html')
          .modal-sep
            .common-header-label.text-center Add your app

          //-   First popup of the Approle configure with multiple ID input fields

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .common-form-row
                .details-input-group
                    .common-form-label Choose a Role Name
                    drop-down(drop-down-options="dropDownRoleNames" name="dropdownRoles" ng-click="roleNameSelect()")              
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .common-form-label Permission
                            .common-radio-group
                                radio-buttons(data="radio" value="approleRadioBtn.value" state="true")
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(id="approle_create_btn" ng-click="addPermission('AppRolePermission', approleConfPopupObj.role_name, approleRadioBtn.value, false)" ng-disabled="isApproleBtnDisabled()" ) Add
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel

script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
.container-fluid.common-main-content.route-page.change-safe-wrapper
    .container-fluid-wrapper.curved
      .page-header-container
        .header-inner-container.header-without-tab(ng-class="{'no-tabs-header' : showDetails}" ng-cloak="")
            .clearfix
              .left-arrow.glyphicon.glyphicon-menu-left.left.common-header-label(ng-click="goBack()")
              .left-sm-sep.left.page-header-text {{changeSvcaccHeader}}
                  span.safe-in-edit {{svcacc.displayName}}
            nav-bar(active-tab="details" gotoPage="goToPage" nav-tags="detailsNavTags" ng-if="activeDetailsTab == 'details' ")
            nav-bar(active-tab="permissions" gotoPage="goToPage" nav-tags="detailsNavTags" ng-if="activeDetailsTab == 'permissions' ")            
            text(ng-if="isActivating") Activating Service account..
      .page-content-container(ng-class="{'no-tabs-body' : showDetails}" ng-cloak="")
          .page-content-container.details(ng-if="showDetails" ng-cloak="" id="detailscontainer" scroll)
              form.row(name="createSvcaccDetails" ng-submit="saveSvcAccount()" autocomplete="off" novalidate)
                .page-content-container
                  .clearfix.details-wrapper
                    loading-state(ng-if='isLoadingData')
                    .svc-left-content-container.col-lg-12.col-sm-12
                      .common-section-label SERVICE ACCOUNT DETAILS 
                        span.svc-expired {{expiredNote}}
                      div.svceditnotes(ng-if="isEditSvcacc") {{ svceditnotes }}
                      div.svceditnotes(ng-if="isEditSvcacc") Note: When "Enable Password Rotation" is turned off, password for this service account will not be autorotated by T-Vault. You need to make sure the password for this service account is getting rotated appropriately.
                      div.svceditnotes(ng-if="!isEditSvcacc") You are in step 1 of 3 - On-Boarding. Choose the service account for which the password needs to be managed by T-Vault. Check the "Enable Password Rotation" checkbox to enable auto password rotation by T-Vault. Passwords will be rotated at default Expiration Times (90 days/ 365 days) or any custom expiration time specified in "Password Expiration Time" box. With "Enable Password Rotation" unchecked, passwords will not be rotated by T-Vault. You need to make sure <strong>the password for this service account</strong> is getting rotated appropriately.
                    .svc-left-content-container.col-lg-8.col-sm-8
                      .common-form
                        .row
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8
                            .details-input-group 
                                .common-form-label(uib-tooltip="Please input a service account name whose password needs to be managed and click 'ONBOARD'") Service Account Name: 
                                  div.onboard-notes(ng-if="!isEditSvcacc") Select the service account name from the autocomplete field.
                                input.form-control.input-box-style(ng-model="svcacc.svcaccId" typeahead-min-length="3" name="svcaccId" uib-typeahead="key as key.userId for key in getSvcaccList($viewValue) | limitTo: 8" typeahead-wait-ms="500" typeahead-on-select="getSvcaccInfo(svcacc.svcaccId)" ng-disabled="isEditSvcacc" placeholder="Select the Service Account" minlength="3" uib-tooltip="Please input a service account name whose password needs to be managed and click 'ONBOARD'")
                                div.loader.svcaccid(ng-if='showInputLoader.show && svcacc.svcaccId.length > 2')
                                    div.ball-spin-fade-loader
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                  div.input-cross.svcaccid(ng-if='svcInputSelected && svcacc.svcaccId.length > 2 && !isEditSvcacc' ng-click="clearSvcaccId()")
                                    div.delete-title
                                        img.delete-icon(src="../../assets/images/delete.png")
                        .row
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8.collapse-link(ng-click="collapseADDetails()") Service Account Details >>
                        .row(uib-collapse="isCollapsed")                          
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Owner of Service account" tooltip-popup-delay="600")
                                .common-form-label Owner (managedBy)
                                input.form-control.input-box-style(ng-model="svcacc.managedBy.displayName" name="managedBy.displayName" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Owner Email for Service account" tooltip-popup-delay="600")
                                .common-form-label Owner Email
                                input.form-control.input-box-style(ng-model="svcacc.managedBy.userEmail" name="managedBy.userEmail" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Date of creation of Service account in AD" tooltip-popup-delay="600")
                                .common-form-label Date Created in AD
                                input.form-control.input-box-style(ng-model="svcacc.creationDate" name="creationDate" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Password Expiry date" tooltip-popup-delay="600")
                                .common-form-label Password Expiry
                                input.form-control.input-box-style(ng-model="svcacc.passwordExpiry" name="passwordExpiry" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Account expiry date" tooltip-popup-delay="600")
                                .common-form-label Account Expiry 
                                input.form-control.input-box-style(ng-model="svcacc.accountExpires" name="accountExpires" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Account status" tooltip-popup-delay="600")
                                .common-form-label Account Status 
                                input.form-control.input-box-style(ng-model="svcacc.accountStatus" name="accountStatus" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Account lock status" tooltip-popup-delay="600")
                                .common-form-label Lock Status 
                                input.form-control.input-box-style(ng-model="svcacc.lockStatus" name="lockStatus" ng-disabled="true")
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8
                            .details-input-group(uib-tooltip="Purpose of this Service Account" tooltip-popup-delay="600")
                                .common-form-label Purpose 
                                textarea.form-control.input-box-style.details-textarea(id="purposetxtarea" ng-model="svcacc.purpose" name="purpose" ng-disabled="true")
                        .row
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Check this if password needs to be enabled for rotation by T-Vault")
                                .common-form-label Enable Password Rotation
                                  div.onboard-notes Check this to enable auto password rotation by T-Vault.
                                input(type='checkbox' value="enable" ng-model="svcacc.autoRotate" ng-checked="autoRotate" ng-disabled="isSvcaccExpired || (!svcInputSelected && !isEditSvcacc)" ng-change="pwdRotationChange()")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group
                                .common-form-label(uib-tooltip="{{ ttlToolip }}") Password Expiration Time
                                  div.onboard-notes Enter your custom password expiration time here. Once the expiration time has passed, the password will be rotated the next time it is requested.
                                input.form-control.input-box-style(ng-model="svcacc.ttl" id="ttl" name="ttl" ng-disabled="isSvcaccExpired || !autoRotate " restrict-to-numbers required minlength="0" placeholder="Password TTL in seconds" uib-tooltip="15m=900s, 1h=3600s, 1d=86400s, 90d=7776000s, 365d=31536000s, Once the ttl has passed, a password will be rotated the next time it's requested" tooltip-placement="top" tooltip-popup-delay="600" maxlength="10")
                        .row
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8
                            .details-input-group
                                .common-form-label AD group Name
                                  div.onboard-notes Please provide the AD group for which read or reset permission to be granted later
                                input.form-control.input-box-style(ng-model="svcacc.adGroup" id="adGroup" restrict-special-char-with-space placeholder="AD group Name")
                        .row
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8
                            .details-input-group
                                .common-form-label Application Name
                                  div.onboard-notes Please choose the application name to associate with this service account. Search application from the below autocomplete box.
                                input.form-control.input-box-style(ng-model="applicationName" id="applicationName" typeahead-min-length="2" name="appName" uib-typeahead="key as key.type for key in getAppName($viewValue) | limitTo: 5" typeahead-wait-ms="500" typeahead-on-select="selectAppName(applicationName)" placeholder="Loading application names. Please wait.." ng-disabled="isApplicationsLoading")
                                div.loader.svcaccid(ng-if='isApplicationsLoading')
                                    div.ball-spin-fade-loader
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                        .row.lastrow
                          .common-form-row.col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .common-form-row.col-lg-12.col-md-12.col-sm-12.col-xs-12      
                  .clearfix.btn-section
                    .right.col-lg-12.col-md-12.col-sm-12.col-xs-12.bottom-lg-sep.top-lg-sep
                      .right
                        button.common-btn.btn.btn-primary.btn-lg(type='button' ng-if="isOwner" ng-click="grantPermission(svcacc.svcaccId)" ng-disabled="isSvcaccExpired || (!svcInputSelected && !isEditSvcacc) || initialPwdResetRequired") {{ "Grant Permission"}}
                      .right.svc-action-button
                        button.common-btn.btn.btn-primary.btn-lg(type='button' ng-if="initialPwdResetRequired" ng-click="oneTimeResetConfirmation()") {{ "Activate Service Account"}}
                      .right.svc-action-button
                        button.common-btn.btn.btn-primary.btn-lg(type='submit' ng-disabled="isSvcaccExpired || (!svcInputSelected && !isEditSvcacc) || (!appNameSelected && !isEditSvcacc)") {{isEditSvcacc == true ? "Update" : "Onboard"}}
                      .right.right-sm-sepshowInputLoader
                        button.link-style.common-btn.btn.btn-default.btn-lg.col-lg-6.col-md-6.col-sm-6.col-xs-12(type='button' ng-click="goBack()") Cancel
          .page-content-container.permissions(ng-if="!showDetails" ng-cloak="")                
                md-content
                    md-tabs(md-dynamic-height md-border-bottom ng-if="!showDetails && !initialPwdResetRequired")
                        md-tab(label="Users" md-on-select="clearInputValue('addUser')")
                            loading-state(ng-if='isLoadingData')
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    div.svceditnotes You are in step 3 of 3 - Granting Permissions. Select users from the autocomplete field and assign Read/Reset/Deny permissions as needed. Users with Reset Permission can reset the Service account password anytime. Users with Deny permission will not be able to Read/Reset password.
                                    div.svceditnotes Search users by User name (&ltlastname&gt, &ltfirstname&gt) or if you have the NTId, search using NTId directly.
                                    .row.change-safe
                                        .add-block.container.name.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                            div.input-flex
                                                div.input-box-style.user-input

                                                    input(type='text' class="form-control" autofocus='!showInputLoader.show' ng-keyup='onKeyUp(searchValue, "userName")' placeholder='Username' restrict-special-char-for-users minlength="1" maxlength="50" ng-model="inputValue.userNameVal" id="addUser" ng-class="{error: (inputValue.userNameValEmpty &&  (inputValue.userNameVal == '' ||  inputValue.userNameVal == undefined)), highlightBox: inputSelected.select}" ng-change="searchValue.userName = inputValue.userNameVal; inputValue.userNameValEmpty = false;")
                                                div.loader(ng-if='showInputLoader.show && inputValue.userNameVal.length > 0')
                                                    div.ball-spin-fade-loader
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                div.input-cross(ng-if='inputSelected.select && inputValue.userNameVal.length > 0' ng-click="clearInputValue('addUser')")                                                
                                                    div.delete-title
                                                        img.delete-icon(src="../../assets/images/delete.png")
                                                div.autocomplete-mismatch(ng-if='showNoMatchingResults && inputValue.userNameVal.length > 0') No matching results found.
                                        .add-block.container.radio-inputs.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            radio-buttons(data="radio" value="usrRadioBtnVal" state="true")
                                        .add-block.container.actions.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            button.btn.btn-primary.btn-lg(ng-click="addPermission('users',inputValue.userNameVal,usrRadioBtnVal, false);inputValue.userNameValEmpty = true") ADD USER
                                    .unavailable-text(ng-if="isEmpty(UsersPermissionsDetails) || hideSudoPolicy")
                                      | No users are given permission to access the service account,<br> add users to access the password for the service account 
                                    .row.change-safe-table-container(ng-if='!isEmpty(UsersPermissionsDetails) && !hideSudoPolicy')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 USERNAME  
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData && userPermission.value != 'sudo'" ng-init="editPermissionItem = false; activeItem = false; radioValue = (userPermission.value=='write')?'reset':userPermission.value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="userPermission in UsersPermissionsDetails")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{userPermission.displayName}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Click edit icon to change permission")
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('users', true, false, userPermission.key, radioValue)" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (userPermission.value=='write')?'reset':userPermission.value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('users', editPermissionItem, userPermission.key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData && userPermission.value != 'sudo'" ng-init="editPermissionItem = true; activeItem = false; radioValue = (userPermission.value=='write')?'reset':userPermission.value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="userPermission in UsersPermissionsDetails")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{userPermission.displayName}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Change permission")
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('users', editPermissionItem, false, userPermission.key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (userPermission.value=='write')?'reset':userPermission.value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('users', editPermissionItem, userPermission.key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                                                    
                        md-tab(label="Groups" md-on-select="clearInputValue('addGroup')")
                            loading-state(ng-if='isLoadingData')
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    div.svceditnotes You are in step 3 of 3 - Granting Permissions. Choose AD groups here and assign Read/Reset/Deny permissions as needed. Users in the group with Reset Permission can reset the Service account password anytime. Groups with Deny permission will not be able to Read/Reset password.
                                    div.svceditnotes For newly created AD groups, group members need to log out and log in again for the added permissions to take effect.
                                    .row.change-safe
                                        .add-block.container.name.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                           div.input-flex
                                                div.input-box-style.user-input
                                                    input(type='text' class="form-control" autofocus='!showInputLoader.show' ng-keyup='onKeyUp(searchValue, "groupName")' placeholder='Group Name' restrict-special-char-with-space minlength="1" maxlength="50" ng-model="inputValue.grpNameVal" id="addGroup" ng-class="{error: (inputValue.grpNameValEmpty &&  (inputValue.grpNameVal == '' ||  inputValue.grpNameVal == undefined)), highlightBox: inputSelected.select}" ng-change="searchValue.groupName = inputValue.grpNameVal; inputValue.grpNameValEmpty = false;")
                                                 div.loader(ng-if='showInputLoader.show && inputValue.grpNameVal.length > 0')
                                                    div.ball-spin-fade-loader
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                div.input-cross(ng-if='inputSelected.select && inputValue.grpNameVal.length > 0' ng-click="clearInputValue('addGroup')")                                                
                                                    div.delete-title
                                                        img.delete-icon(src="../../assets/images/delete.png")
                                                div.autocomplete-mismatch(ng-if='showNoMatchingResults && inputValue.grpNameVal.length > 0') No matching results found.
                                        .add-block.container.radio-inputs.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            radio-buttons(data="radio" value="grpRadioBtnVal" state="true")
                                        .add-block.container.actions.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            button.btn.btn-primary.btn-lg(ng-click="addPermission('groups', inputValue.grpNameVal,grpRadioBtnVal, false);inputValue.grpNameValEmpty = true") ADD GROUP
                                    .unavailable-text(ng-if="isEmpty(permissionData.GroupsPermissionsData)")
                                      | No groups are given permission to access the service account,<br> add groups to access the password for the service account
                                    .row.change-safe-table-container(ng-if="!isEmpty(permissionData.GroupsPermissionsData)")
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.GroupsPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Click edit icon to change permission")
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('groups', true, false, key, radioValue)" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('groups', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.GroupsPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Change permission")
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('groups', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('groups', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                        md-tab(label="AWS Applications")
                            loading-state(ng-if='isLoadingData')
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    div.svceditnotes You are in step 3 of 3 - Granting Permissions. Add AWS EC2 or IAM role here and assign Read/Reset/Deny permissions as needed. Roles with Reset Permission can reset the Service account password anytime. Roles with Deny permission will not be able to Read/Reset password.
                                    .row.change-safe
                                        .container.actions
                                            .function-text.right.link-style(ng-click="newAwsConfiguration('md')")
                                                .add-icon-container.action-icon-wrapper.static
                                                    .rotate.glyphicon.glyphicon-remove-circle 
                                                .text ADD AWS CONFIGURATION
                                    .unavailable-text(ng-if="isEmpty(permissionData.AwsPermissionsData.data)")
                                      | No applications are given permission to access the service account,<br> add applications to access the password for the service account
                                    .change-safe-table-container(ng-if="!isEmpty(permissionData.AwsPermissionsData.data)")
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME 
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AwsPermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Click edit icon to change permission")
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AWSPermission', true, false, key, radioValue)" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AwsPermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Change permission")
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AWSPermission', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                        md-tab(label="AppRoles")
                            loading-state(ng-if='isLoadingData')
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    div.svceditnotes You are in step 3 of 3 - Granting Permissions. Click "ADD APPROLE TO SERVICE ACCCOUNT" link to select AppRoles from the list and assign Read/Reset/Deny permissions as needed. Roles with Reset Permission can reset the Service account password anytime. Roles with Deny permission will not be able to Read/Reset password.
                                    .row.change-safe
                                        .container.actions
                                            .function-text.right.link-style(ng-click="addApproleToSafe('md')")
                                                .add-icon-container.action-icon-wrapper.static
                                                    .rotate.glyphicon.glyphicon-remove-circle
                                                .text ADD APPROLE TO SERVICE ACCOUNT
                                    .unavailable-text(ng-if="isEmpty(permissionData.AppRolePermissionsData.data)")
                                      | No approles are given permission to access the service account,<br> add approles to access the password for the service account
                                    .change-safe-table-container.approles-container(ng-if="!isEmpty(permissionData.AppRolePermissionsData.data)")
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AppRolePermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}" title="{{key}}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Click edit icon to change permission")
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AppRolePermission', true, false, key, radioValue)" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AppRolePermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AppRolePermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4(uib-tooltip="Change permission")
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AppRolePermission', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}" uib-tooltip="Delete permission" tooltip-placement="bottom")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}" uib-tooltip="Edit permission" tooltip-placement="bottom")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                .clearfix.btn-section
                  .right.col-lg-6.col-md-6.col-sm-6.col-xs-12.bottom-lg-sep.top-lg-sep
                    .right
                      button.common-btn.btn.btn-primary.btn-lg(type='button' ng-click="svcaccDone()" ng-disabled="permissionChangeInProgress") Done
                  
