header
sideBar
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="cancel()") Close
script(type='text/ng-template', id='svcAccWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Onboarding without Auto rotation
    .top-lg-sep.notification-text Password rotation not enabled. Password for this Service Account will not be auto rotated when expired. 
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="onboardSvcAccount()") ONBOARD
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL

script(type='text/ng-template', id='svcAccEditWarning.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Updating without Auto rotation
    .top-lg-sep.notification-text Password rotation not enabled. Password for this Service Account will not be auto rotated when expired. 
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="editSvcaccountOnboard()") Update
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") CANCEL


script(type='text/ng-template', id='changeSafePopup.html')
          .modal-sep
            .common-header-label.text-center Configure your app 

          //-   First popup of the AWS configure with multiple ID input fields

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .control-group
                                .common-form-label AWS Authentication Type
                                  span *
                                .common-radio-group
                                    label.control.control--radio EC2
                                      input(type='radio' id='auth_type' value="ec2" ng-model="awsConfPopupObj.auth_type" ng-checked="awsConfPopupObj.auth_type == 'ec2'" ng-click="enableEc2Controls($event)")
                                      .control__indicator
                                    label.control.control--radio IAM
                                      input(type='radio' id='auth_type' value="iam" ng-model="awsConfPopupObj.auth_type" ng-checked="awsConfPopupObj.auth_type == 'iam'" ng-click="enableIamControls($event)")
                                      .control__indicator

              .common-form-row
                .details-input-group
                    .common-form-label Role Name
                      span *
                    input.form-control.input-box-style(value="{{awsConfPopupObj.role}}" minlength="3" maxlength="50" restrict-config-char ng-model="awsConfPopupObj.role" placeholder="Role name - Enter min 3 characters" required)
              .aws-conf.clearfix
                .font-type-normal **Please fill at least one of the following

                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Account ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_account_id}}" id="bound_account_id" minlength="12" maxlength="15" restrict-to-numbers placeholder="Account ID" ng-model="awsConfPopupObj.bound_account_id" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Region
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_region}}" id="bound_region" restrict-config-char maxlength="25" placeholder="Region ID" ng-model="awsConfPopupObj.bound_region" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label VPC ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_vpc_id}}" id="bound_vpc_id" restrict-config-char  maxlength="256" placeholder="VPC ID" ng-model="awsConfPopupObj.bound_vpc_id" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Subnet ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_subnet_id}}" id="bound_subnet_id" restrict-config-char maxlength="256" placeholder="Subnet ID" ng-model="awsConfPopupObj.bound_subnet_id" required)
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label AMI ID
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_ami_id}}" id="bound_ami_id" restrict-config-char maxlength="256" placeholder="AMI ID" ng-model="awsConfPopupObj.bound_ami_id")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label Instance Profile ARN
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_instance_profile_arn}}" id="bound_iam_instance_profile_arn" restrict-arn-special-char minlength="20" maxlength="1024" placeholder="Instance Profile ARN" ng-model="awsConfPopupObj.bound_iam_instance_profile_arn")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label IAM Role ARN
                      span **
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_role_arn}}" id="bound_iam_role_arn" restrict-arn-special-char minlength="20" maxlength="1024" placeholder="IAM Role ARN" ng-model="awsConfPopupObj.bound_iam_role_arn")
                .col-lg-6.col-md-6.col-sm-12.col-xs-12.common-form-row
                  .details-input-group
                    .common-form-label IAM Principal ARN
                      span *
                    input.form-control.input-box-style(value="{{awsConfPopupObj.bound_iam_principal_arn}}" id="bound_iam_principal_arn" restrict-arn-special-char minlength="20" maxlength="1024" placeholder="IAM Principal ARN" ng-model="awsConfPopupObj.bound_iam_principal_arn" required)
                
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .common-form-label Permission
                              span *
                            .common-radio-group
                                radio-buttons(data="radio" value="awsRadioBtn.value" state="true")
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(ng-click="addPermission('AwsRoleConfigure', awsConfPopupObj.role, awsRadioBtn.value, false)" ng-disabled="!(awsConfPopupObj.auth_type.length > 0 && awsConfPopupObj.role.length > 0 && ((awsConfPopupObj.auth_type == 'ec2' && (awsConfPopupObj.bound_account_id.length > 0 || awsConfPopupObj.bound_region.length > 0 || awsConfPopupObj.bound_vpc_id.length > 0 || awsConfPopupObj.bound_subnet_id.length > 0 || awsConfPopupObj.bound_ami_id.length > 0 || awsConfPopupObj.bound_iam_instance_profile_arn.length >0 || awsConfPopupObj.bound_iam_role_arn.length >0)) || (awsConfPopupObj.auth_type == 'iam' && awsConfPopupObj.bound_iam_principal_arn.length > 0)))" ) {{editingAwsPermission.status == true ? "Update" : "Create"}}
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel

script(type='text/ng-template', id='appRolePopup.html')
          .modal-sep
            .common-header-label.text-center Add your app

          //-   First popup of the Approle configure with multiple ID input fields

          .left-lg-sep.right-lg-sep
            .common-form.modal-inner-wrapper.aws
              .common-form-row
                .details-input-group
                    .common-form-label Choose a Role Name
                    drop-down(drop-down-options="dropDownRoleNames" name="dropdownRoles" ng-click="roleNameSelect()")              
              .aws.common-form
                .common-form-row
                    .aws-conf.clearfix
                        .details-input-group
                            .common-form-label Permission
                            .common-radio-group
                                radio-buttons(data="radio" value="approleRadioBtn.value" state="true")
          .text-center.bottom-lg-sep.modal-sep.aws
            .clearfix.bottom-sm-sep
              button.common-btn.btn.btn-primary.btn-lg(id="approle_create_btn" ng-click="addPermission('AppRolePermission', approleConfPopupObj.role_name, approleRadioBtn.value, false)" ng-disabled="isApproleBtnDisabled()" ) Add
            .clearfix
              button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="cancel()") Cancel

script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
.container-fluid.common-main-content.route-page.change-safe-wrapper
    .container-fluid-wrapper.curved
      .page-header-container
        .header-inner-container.header-without-tab(ng-class="{'no-tabs-header' : showDetails}" ng-cloak="")
            .clearfix
              .left-arrow.glyphicon.glyphicon-menu-left.left.common-header-label(ng-click="goBack()")
              .left-sm-sep.left.page-header-text {{changeSvcaccHeader}}
                  span.safe-in-edit {{svcacc.displayName}}
            nav-bar(active-tab="details" gotoPage="goToPage" nav-tags="detailsNavTags" ng-if="activeDetailsTab == 'details' ")
            nav-bar(active-tab="permissions" gotoPage="goToPage" nav-tags="detailsNavTags" ng-if="activeDetailsTab == 'permissions' ")            
      .page-content-container(ng-class="{'no-tabs-body' : showDetails}" ng-cloak="")
          .page-content-container.details(ng-if="showDetails" ng-cloak="" id="detailscontainer" scroll)
              form.row(name="createSvcaccDetails" ng-submit="goToPermissions()" autocomplete="off" novalidate)
                .page-content-container
                  .clearfix.details-wrapper
                    loading-state(ng-if='isLoadingData')
                    .svc-left-content-container.col-lg-8.col-sm-8
                      .common-section-label SERVICE ACCOUNT DETAILS 
                        span.svc-expired {{expiredNote}}
                      .common-form
                        .row
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8
                            .details-input-group 
                                .common-form-label Service Account Name 
                                input.form-control.input-box-style(ng-model="svcacc.svcaccId" typeahead-min-length="3" name="svcaccId" uib-typeahead="key as key.userId for key in getSvcaccList($viewValue) | limitTo: 8" typeahead-wait-ms="500" typeahead-on-select="getSvcaccInfo(svcacc.svcaccId)" ng-disabled="isEditSvcacc" placeholder="Select the Service Account" minlength="3")
                                div.loader.svcaccid(ng-if='showInputLoader.show && svcacc.svcaccId.length > 2')
                                    div.ball-spin-fade-loader
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                        div
                                div.input-cross.svcaccid(ng-if='svcInputSelected && svcacc.svcaccId.length > 2' ng-click="clearSvcaccId()")
                                    div.delete-title
                                        img.delete-icon(src="../../assets/images/delete.png")
                        .row
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8.collapse-link(ng-click="collapseADDetails()") View AD details >>
                        .row(uib-collapse="isCollapsed")                          
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Owner of Service account" tooltip-popup-delay="600")
                                .common-form-label Owner (managedBy)
                                input.form-control.input-box-style(ng-model="svcacc.managedBy.displayName" name="managedBy.displayName" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Owner Email for Service account" tooltip-popup-delay="600")
                                .common-form-label Owner Email
                                input.form-control.input-box-style(ng-model="svcacc.managedBy.userEmail" name="managedBy.userEmail" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Date of creation of Service account in AD" tooltip-popup-delay="600")
                                .common-form-label Date Created in AD
                                input.form-control.input-box-style(ng-model="svcacc.creationDate" name="creationDate" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Password Expiry date" tooltip-popup-delay="600")
                                .common-form-label Password Expiry
                                input.form-control.input-box-style(ng-model="svcacc.passwordExpiry" name="passwordExpiry" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Account expiry date" tooltip-popup-delay="600")
                                .common-form-label Account Expiry 
                                input.form-control.input-box-style(ng-model="svcacc.accountExpires" name="accountExpires" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Account status" tooltip-popup-delay="600")
                                .common-form-label Account Status 
                                input.form-control.input-box-style(ng-model="svcacc.accountStatus" name="accountStatus" ng-disabled="true")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group(uib-tooltip="Account lock status" tooltip-popup-delay="600")
                                .common-form-label Lock Status 
                                input.form-control.input-box-style(ng-model="svcacc.lockStatus" name="lockStatus" ng-disabled="true")
                          .common-form-row.col-lg-8.col-md-8.col-sm-8.col-xs-8
                            .details-input-group(uib-tooltip="Purpose of this Service Account" tooltip-popup-delay="600")
                                .common-form-label Purpose 
                                textarea.form-control.input-box-style.details-textarea(id="purposetxtarea" ng-model="svcacc.purpose" name="purpose" ng-disabled="true")
                        .row
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group
                                .common-form-label Enable Password Rotation
                                input(type='checkbox' value="enable" ng-model="svcacc.autoRotate" ng-checked="autoRotate" ng-disabled="isSvcaccExpired" ng-change="pwdRotationChange()")
                          .common-form-row.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            .details-input-group
                                .common-form-label Password TTL
                                input.form-control.input-box-style(ng-model="svcacc.ttl" id="ttl" name="ttl" ng-disabled="isSvcaccExpired || !autoRotate" restrict-to-numbers required minlength="1" placeholder="Password TTL in seconds" uib-tooltip="15m=900s, 1h=3600s, 1d=86400s, 90d=7776000s, 365d=31536000s, Once the ttl has passed, a password will be rotated the next time it's requested" tooltip-placement="top" tooltip-popup-delay="600" maxlength="10")
                        .row
                          .common-form-row.col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .common-form-row.col-lg-12.col-md-12.col-sm-12.col-xs-12      
                  .clearfix.btn-section
                    .right.col-lg-6.col-md-6.col-sm-6.col-xs-12.bottom-lg-sep.top-lg-sep
                      .right
                        button.common-btn.btn.btn-primary.btn-lg(type='submit' ng-disabled="isSvcaccExpired || (!svcInputSelected && !isEditSvcacc) || !(((autoRotate && svcacc.ttl>0) || !autoRotate) && svcacc.svcaccId.length>0)") Next
                      .right.right-sm-sepshowInputLoader
                        button.link-style.common-btn.btn.btn-default.btn-lg.col-lg-6.col-md-6.col-sm-6.col-xs-12(type='button' ng-click="goBack()") Cancel
          .page-content-container.permissions(ng-if="!showDetails" ng-cloak="")
                md-content
                    md-tabs(md-dynamic-height md-border-bottom)
                        md-tab(label="Users" md-on-select="clearInputValue('addUser')")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .add-block.container.name.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                            div.input-flex
                                                div.input-box-style.user-input

                                                    input(type='text' class="form-control" autofocus='!showInputLoader.show' ng-keyup='onKeyUp(searchValue, "userName")' placeholder='Username' restrict-special-char minlength="1" maxlength="50" ng-model="userNameVal" id="addUser" ng-class="{error: (userNameValEmpty &&  (userNameVal == '' ||  userNameVal == undefined)), highlightBox: inputSelected.select}" ng-change="searchValue.userName = userNameVal; userNameValEmpty = false;")
                                                div.loader(ng-if='showInputLoader.show && userNameVal.length > 0')
                                                    div.ball-spin-fade-loader
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                div.input-cross(ng-if='inputSelected.select && userNameVal.length > 0' ng-click="clearInputValue('addUser')")                                                
                                                    div.delete-title
                                                        img.delete-icon(src="../../assets/images/delete.png")
                                                div.autocomplete-mismatch(ng-if='showNoMatchingResults && userNameVal.length > 0') No matching results found.
                                        .add-block.container.radio-inputs.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            radio-buttons(data="radio" value="usrRadioBtnVal" state="true")
                                        .add-block.container.actions.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            button.btn.btn-primary.btn-lg(ng-click="addPermission('users',userNameVal,usrRadioBtnVal, false);userNameValEmpty = true") ADD USER
                                    .unavailable-text(ng-if="isEmpty(permissionData.UsersPermissionsData) || hideSudoPolicy")
                                      | No users are given permission to access the service account,<br> add users to access the password for the service account 
                                    .row.change-safe-table-container(ng-if='!isEmpty(permissionData.UsersPermissionsData) && !hideSudoPolicy')
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 USERNAME  
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-show="!isLoadingData && radioValue != 'sudo'" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.UsersPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('users', true, false, key, radioValue)")                                                    
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('users', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-show="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.UsersPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('users', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}") 
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")                                                    
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('users', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                                                                    
                        md-tab(label="Groups" md-on-select="clearInputValue('addGroup')")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .add-block.container.name.col-lg-6.col-md-6.col-sm-12.col-xs-12
                                           div.input-flex
                                                div.input-box-style.user-input
                                                    input(type='text' class="form-control" autofocus='!showInputLoader.show' ng-keyup='onKeyUp(searchValue, "groupName")' placeholder='Group Name' restrict-special-char minlength="1" maxlength="50" ng-model="grpNameVal" id="addGroup" ng-class="{error: (grpNameValEmpty &&  (grpNameVal == '' ||  grpNameVal == undefined)), highlightBox: inputSelected.select}" ng-change="searchValue.groupName = grpNameVal; grpNameValEmpty = false;")
                                                 div.loader(ng-if='showInputLoader.show && grpNameVal.length > 0')
                                                    div.ball-spin-fade-loader
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                        div
                                                div.input-cross(ng-if='inputSelected.select && grpNameVal.length > 0' ng-click="clearInputValue('addGroup')")                                                
                                                    div.delete-title
                                                        img.delete-icon(src="../../assets/images/delete.png")
                                                div.autocomplete-mismatch(ng-if='showNoMatchingResults && grpNameVal.length > 0') No matching results found.
                                        .add-block.container.radio-inputs.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            radio-buttons(data="radio" value="grpRadioBtnVal" state="true")
                                        .add-block.container.actions.col-lg-3.col-md-3.col-sm-12.col-xs-12
                                            button.btn.btn-primary.btn-lg(ng-click="addPermission('groups', grpNameVal,grpRadioBtnVal, false);grpNameValEmpty = true") ADD GROUP
                                    .unavailable-text(ng-if="isEmpty(permissionData.GroupsPermissionsData)")
                                      | No groups are given permission to access the service account,<br> add groups to access the password for the service account
                                    .row.change-safe-table-container(ng-if="!isEmpty(permissionData.GroupsPermissionsData)")
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-show="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.GroupsPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('groups', true, false, key, radioValue)")                                                    
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('groups', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-show="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.GroupsPermissionsData")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-class="{'inactive' : editPermissionItem == false}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('groups', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('groups', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                        md-tab(label="AWS Applications")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .container.actions
                                            .function-text.right.link-style(ng-click="newAwsConfiguration('md')")
                                                .add-icon-container.action-icon-wrapper.static
                                                    .rotate.glyphicon.glyphicon-remove-circle 
                                                .text ADD AWS CONFIGURATION
                                    .unavailable-text(ng-if="isEmpty(permissionData.AwsPermissionsData.data)")
                                      | No applications are given permission to access the service account,<br> add applications to access the password for the service account
                                    .change-safe-table-container(ng-if="!isEmpty(permissionData.AwsPermissionsData.data)")
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME 
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AwsPermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-click="editAWSConfigurationDetails(editPermissionItem, key)" ng-class="{'inactive' : editPermissionItem == false, 'pink-text' : editPermissionItem == true}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AWSPermission', true, false, key, radioValue)")
                                                    .down.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE                                                    
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AwsPermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-click="editAWSConfigurationDetails(editPermissionItem, key)" ng-class="{'inactive' : editPermissionItem == false, 'pink-text' : editPermissionItem == true}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AWSPermission', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}")                                                    
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                        md-tab(label="AppRoles")
                            md-content(class="md-padding")
                                .new-container.page-content-container
                                    .row.change-safe
                                        .container.actions
                                            .function-text.right.link-style(ng-click="addApproleToSafe('md')")
                                                .add-icon-container.action-icon-wrapper.static
                                                    .rotate.glyphicon.glyphicon-remove-circle
                                                .text ADD APPROLE TO SERVICE ACCOUNT
                                    .unavailable-text(ng-if="isEmpty(permissionData.AppRolePermissionsData.data)")
                                      | No approles are given permission to access the service account,<br> add approles to access the password for the service account
                                    .change-safe-table-container(ng-if="!isEmpty(permissionData.AppRolePermissionsData.data)")
                                        loading-state(ng-if='isLoadingData')
                                        .row.change-safe.header
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 NAME
                                            .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4 ACTION
                                        .change-safe-table-data.row
                                            .row.change-safe.item.hide-in-mobile(ng-if="!isLoadingData" ng-init="editPermissionItem = false; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AppRolePermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-click="editAWSConfigurationDetails(editPermissionItem, key)" ng-class="{'inactive' : editPermissionItem == false, 'pink-text' : editPermissionItem == true}" title="{{key}}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    radio-buttons(data="radio" value="radioValue" state="editPermissionItem")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AppRolePermission', true, false, key, radioValue)")
                                                    .down.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AppRolePermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                                            .row.change-safe.item.hide-in-tablet-up(ng-if="!isLoadingData" ng-init="editPermissionItem = true; activeItem = false; radioValue = (value=='write')?'reset':value" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="(key, value) in permissionData.AppRolePermissionsData.data")
                                                .container.name.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-click="editAWSConfigurationDetails(editPermissionItem, key)" ng-class="{'inactive' : editPermissionItem == false, 'pink-text' : editPermissionItem == true}") {{key}}
                                                .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    drop-down(drop-down-options="radio" value="radioValue" error="noTypeSelected")
                                                .container.actions.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                    .down
                                                        .list-icon.icon-delete(ng-click = "deletePermission('AppRolePermission', editPermissionItem, false, key, radioValue)" ng-class="{'inactive' : editPermissionItem == false}")
                                                    .down.hide-in-mobile.edit
                                                        .list-icon.icon-mode_edit(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == true}")
                                                        .list-icon.icon-cross(ng-click="editPermissionItem = !editPermissionItem; activeItem = !activeItem; radioValue = (value=='write')?'reset':value" ng-class="{'inactive' : editPermissionItem == true, 'hide-icon' : editPermissionItem == false}")
                                                    .down.save
                                                        .list-icon(ng-click = "editPermission('AWSPermission', editPermissionItem, key, radioValue); editPermissionItem ? editPermissionItem = !editPermissionItem : editPermissionItem = editPermissionItem" ng-class="{'inactive' : editPermissionItem == false}")  SAVE
                .clearfix.btn-section
                  .right.col-lg-6.col-md-6.col-sm-6.col-xs-12.bottom-lg-sep.top-lg-sep
                    .right
                      button.common-btn.btn.btn-primary.btn-lg(type='button' ng-click="svcaccDone()") Done
                  
