.au-tabs
    .au-tabs-header
        .au-tabs-gutter
            nav-bar(active-tab="safes" nav-tags="safesNavTags")
            .page-header-text SAFES
            searchbar.au-push-left


    .au-tabs-body
        div(ui-view="content").au-100-height
            div(style="background-color:white").au-100-height