.au-tabs
    .au-tabs-header
        .au-tabs-gutter
            nav-bar(active-tab="" go-to="vm.goToSafe"  nav-tags="vm.safesNavTags")
            .page-header-text SAFES
            searchbar.au-push-left(on-search="vm.onSearch")


    .au-tabs-body
        div(ui-view="content")