.container-fluid-wrapper.curved
    .page-header-container.admin
        .header-inner-container
            nav-bar(active-tab="safes" nav-tags="safesNavTags")
            .page-header-text SAFES
    .page-content-container.admin
        .au-100-height(ui-view="content" ng-if="!loadingSafeTabs")
        .au-loader(ng-if="loadingSafeTabs")
            loading-state
