header
sideBar
script(type='text/ng-template', id='error.html')
    .row
        .top-lg-sep
            .common-header-label.text-center Error
        .top-lg-sep.notification-text {{errorMessage}}
    
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
        .clearfix.bottom-sm-sep
            button.link-style.common-btn.btn.btn-primary.btn-lg(ng-click="close()") Close
script(type='text/ng-template', id='resetPopup.html')
  loading-state(ng-if="isLoadingModalData")
  .top-lg-sep(ng-if="!isLoadingModalData")
    .top-lg-sep
        .common-header-label.text-center Confirmation
    .top-lg-sep.notification-text Are you sure you want to reset the password for this Service Account?
    .text-center.bottom-lg-sep.top-lg-sep.notification-button
      .clearfix.bottom-sm-sep
        button.common-btn.btn.btn-primary.btn-lg(ng-click="resetPasswordForSvc()") RESET
      .clearfix
        button.link-style.common-btn.btn.btn-default.btn-lg(ng-click="close()") CANCEL
.container-fluid
    .container-fluid-wrapper.curved
        .page-header-container.admin
            .header-inner-container
                nav-bar(active-tab="service-accounts" gotoPage="goToPage" nav-tags="adminNavTags")
                .page-header-text SERVICE ACCOUNTS
        .page-content-container.admin
            .right.search-bar-container
                .search-bar(ng-if="!viewPassword")
                    .search-box
                        .search-icon
                            .icon-search
                        .search-input-wrapper
                            input.search-input-box(type='text' placeholder='SEARCH' ng-model="searchValueSvc" restrict-special-char minlength="3" maxlength="40" ng-change="filterSvc(searchValueSvc)")
            md-content.admin-content
                md-tabs(md-dynamic-height md-border-bottom md-selected="selectedIndex")                    
                    md-tab(label="My Accounts")
                        md-content(class="md-padding md-content-wrapper page-content-wrapper md-approle-management" ng-init="displayGrid" ng-if="!viewPassword")
                            .new-container.page-content-container
                                .md-content-inner-wrapper
                                    div.data-management-content
                                        .row.change-svc-table-container
                                            loading-state(ng-if='isLoadingData')
                                            .row.change-data.header.solid-header(ng-show="!isLoadingData && svcOnboardedData.keys.length>0")
                                                .container.name.cell.col-lg-2.col-md-2.col-sm-2.col-xs-2 ACCOUNT NAME
                                                .container.name.cell.col-lg-2.col-md-2.col-sm-2.col-xs-2 AUTO PASSWORD ROTATION
                                                .container.name.cell.col-lg-2.col-md-2.col-sm-2.col-xs-2 EXPIRY
                                            .change-list-table-data.row
                                                .unavailable-text(ng-show="!isLoadingData && svcOnboardedData.keys.length==0")
                                                    .container.name No Service Accounts Available
                                                .row.change-data.item(ng-show="!isLoadingData" ng-class="{'grayBackground' : activeItem == true}" ng-repeat="value in svcOnboardedData.keys | filter:searchValueSvc | limitTo: paginationLimit()")
                                                    .container.name.col-lg-2.col-md-2.col-sm-2.col-xs-2(title="{{value.name}}") {{value.name}}
                                                    .container.name.col-lg-2.col-md-2.col-sm-2.col-xs-2 {{value.rotation=='true'?"Enabled":"Disabled"}}
                                                    .container.name.col-lg-2.col-md-2.col-sm-2.col-xs-2  {{value.expiry}}
                                                    .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                        .down.view
                                                            .list-icon(ng-click = "viewSecret(value.name, 'md')")  View/Reset
                                            .pagination-wrapper(ng-show='hasMoreItemsToShow()')
                                                .pagination-count(ng-if="numOfSvcs>0") Displaying {{currentshown}} of {{numOfSvcs}}
                                                .pagination-button-wrapper(ng-click='showMoreItems()')
                                                    button.show-more-btn VIEW MORE
                                                    span
                                                        img(src="assets/icons/front-arrow.svg")
                        md-content(class="au-tabs-inner _md" ng-init="displayGrid" ng-if="viewPassword")
                            .create-folder-container.slide-header
                                    .function-text
                                        .clearfix
                                            .editColor.left.static
                                                .glyphicon.glyphicon-chevron-left(ng-click="goToMyServiceAccounts()")
                                            div.left
                                                span
                                                    span {{svcSecretData.svcname}}                                                    
                            div.data-management-content
                                .row.change-svc-table-container
                                    loading-state(ng-if='isLoadingData')
                                    .row.table-header.solid-header(ng-show="!isLoadingData")
                                        .container.name.cell.col-lg-6.col-md-6.col-sm-6.col-xs-6.table-first-cell NAME
                                        .container.name.cell.col-lg-2.col-md-2.col-sm-2.col-xs-2 ACTION
                                    .accordion-list-main.adjustment
                                        .container.name.col-lg-12.col-md-12.col-sm-12.col-xs-12.cell 
                                            .cell.col-lg-6.col-md-6.col-sm-6.col-xs-6
                                                img.list-icon.folder(src="assets/icons/safe.svg" )
                                                input.form-control.input-box-style.au-textarea.input-disabled-text-wrapper.folder-row-secret-wrapper(rows="1" au-display="{{!showPassword}}" ng-disabled="true" ng-value="svcSecretData.secret.value.replace(anyRegex, '\u00B7')")
                                                input.form-control.input-box-style.au-textarea.input-disabled-text-wrapper.folder-row-secret-wrapper(rows="1" au-display="{{showPassword}}" ng-disabled="true" ng-value="svcSecretData.secret.value")
                                                .list-icon.icon-content_copy.vertical-sub-align(ng-if="ifSecret" ng-click="copyToClipboard($event, svcSecretData.secret.value, 'COPY_TO_CLIPBOARD')")
                                                .list-icon.icon-views.vertical-sub-align(ng-mousedown="showPassword = true;" ng-mouseup="showPassword = false")
                                            .container.radio-inputs.col-lg-4.col-md-4.col-sm-4.col-xs-4.cell
                                                .down.view
                                                    .list-icon.reset(ng-if="ifSecret && write" ng-click="resetPasswordPopup(svcSecretData.secret.value)") Reset
                        